/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000338}}
  body.toolbar {
    padding-top: 0 !important;
  }

  /*
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   *
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000354}}
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000359}}
  .commons-bw-create-all-widget-types {
    left: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000363}}
  .page-node-add #edit-additional-settings {
    width: 100%;
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000368}}
  .page-node-add .field-type-taxonomy-term-reference-form {
    width: 100%;
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000374}}
  #toolbar {
    position: static;
    margin: 0;
    padding: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000380}}
  #toolbar-user {
    position: absolute;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000389}}
  div#panels-ipe-control-container {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000395}}
  #quicktabs-container-commons_bw .quicktabs-tabpage .view-filters,
  #quicktabs-container-commons_bw .quicktabs-tabpage .attachment-before {
    float: none;
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003104}}
  #quicktabs-commons_follow_ui .quicktabs-style-commons-tabs li {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003114}}
  .view-commons-follow-node .views-field-ops,
  .view-commons-follow-node .views-field-ops-1,
  .view-commons-follow-user .views-field-ops,
  .view-commons-follow-user .views-field-ops-1,
  .view-commons-follow-taxonomy-term .views-field-ops,
  .view-commons-follow-taxonomy-term .views-field-ops-1 {
    width: 33.333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003120}}
  .primary-fields,
  .supplementary-fields {
    display: block;
    float: none;
    width: auto;
    padding: 0;
  }
}
/*
 * Tablet sizes and down
 */
@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003137}}
  .quicktabs-style-commons-pills ul.quicktabs-tabs li a {
    font: 0/30px a;
    color: transparent;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003146}}
  .quicktabs-style-commons-pills ul.quicktabs-tabs li a:before {
    margin-right: 0;
    vertical-align: middle;
  }
}
/*
 * Tablet sizes and up
 */
@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003162}}
  body.front.not-logged-in #content {
    background: url(/sites/all/themes/commons_origins/images/commons-drop.png?1378937341) right top no-repeat;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003166}}
  body.front.not-logged-in .region-three-33-top {
    margin-bottom: 24px;
    min-height: 300px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003172}}
  body.front.not-logged-in #block-system-main .pane-1 {
    float: left;
    width: 56%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003176}}
  body.front.not-logged-in #block-system-main .pane-2 {
    float: right;
    width: 40%;
  }
}


@media only screen and (max-width:320px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

}
@media only screen and (min-width:321px) and (max-width:480px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000315}}
body.front.logged-in .view-commons-homepage-content .article.node .node-content .field-name-body, body.front.logged-in .view-commons-homepage-content .node-teaser.node-group .node-content .field-name-body {
  margin-right: 0;
}

}
@media only screen and (min-width:481px) and (max-width:768px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

}
@media only screen and (min-width:769px) and (max-width:979px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

}
@media only screen and (min-width:980px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.desktop\.scss}line{font-family:\0000315}}
.flag-inappropriate-node {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.desktop\.scss}line{font-family:\0000323}}
.node:hover .flag-inappropriate-node {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

}