// @file
// Styles for the breadcrumb trail.

.breadcrumb {
  margin: rhythm(1) 0;
}

.breadcrumb__title {
  @extend %element-invisible;
}

.breadcrumb__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb__item {
  display: inline-block;
  margin-right: 0.5em;

  &:after {
    content: "\2794";
    margin-left: 0.5em;
  }

  &:last-child:after {
    content: "";
    margin-left: 0;
  }
}

/**
 * easy breadcrumb
 */
.pane.pane--easy-breadcrumb-easy-breadcrumb {
  margin-bottom: 0.2em;
  padding: 0;
  
  .easy-breadcrumb {
    color: $uw_light_purple;
    font-size: $font-size-md;
    
    a {
      color: $uw_light_purple;
      text-decoration: none;
      text-transform: uppercase;
      
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}