// @file
// Styles for buttons.

.button {
  @include adjust-font-size-to($font-size-md);
  /*@include background-image(
    linear-gradient(
      top,
      $gradient-light 0%,
      $gradient-dark 100%
    )
  );*/
  @include border-radius(0);
  background-color: $button-bg-color;
  border: none;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font-family;
  font-size: 1em;
  margin: 0 0 rhythm(1);
  padding: 0.25em 0.7em;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  vertical-align: baseline;

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *line-height: normal;
    *zoom: 1;
  }

  &:focus,
  &:hover {
    background-color: lighten($button-bg-color, 10%);
    outline: 0;
  }

  &:active {
    background-color: darken($button-bg-color, 5%);
  }

  & + .button {
    margin-left: 1em; // LTR

    [dir="rtl"] & {
    margin-left: 0;
    margin-right: 1em;
    }
  }
  
  &[value=Remove] {
    background-color: $error-color;
    
    &:focus,
    &:hover {
      background-color: lighten($error-color, 10%);
      outline: 0;
    }
    &:active {
      background-color: darken($error-color, 5%);
    }
  }
  
  .expanding-formatter-trigger & {
    background: none !important;
    color: $link-color;
    margin: 0;
    
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
