// @file
// Styles for comments.

#comments {
	clear: both;
	padding: 1em 0;
	position: relative;
	
	.comment-count-nolink {
		background: transparent url(../images/icons/comments-uwo.png) left 49% no-repeat;
		color: $uw_dark_red;
	  font-family: $base-font-family;
    font-size: 1.5em;
    font-weight: bold;
		padding: 4px 0 0 26px;
		position: absolute;
		right: 0;
	}
	
	 
	h2.comments__title {
		border-bottom: 1px solid $uw_light_purple;
		clear: both;
		color: $uw_light_purple;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
	
	h2.comments__title--form {
		color: $uw_orange;
		margin-top: 2em;
	}
	
			
	.comment {
		clear: left;
		padding: 1em 0 0;
		
		.comment__title {
			display: none;
		}
		
		.group-left {
			line-height: 1em;
		}
		
		.group-right {
			background: #f0e6c8;
			border: 1px solid #ffc87d;
			@include border-radius(4px);
			float: none;
			margin-left: 98px;
			min-height: 100px;
			padding: 10px 15px;
			position: relative;
			width: auto !important;
			z-index: 0;
			
			.field-name-post-date {
				color: $uw_dark_purple;
				font-size: 0.9em;
			}
			
			ul.nav--inline {
				margin: 0 0 0 1em;
				float: right;
				
				li {
					text-align: right;
					
					a {
						font-size: $font-size-md;
					}
					
					&.first {
						padding-left: 0;
					}
					
					&.last {
						padding-right: 0;
					}
				}
			}
			
			.rate-widget-1 {
				@extend %like-button-inner;
				right: 10px !important;
				position: absolute;
				top: 10px !important;
			}
			
			&:before {
				border-color: transparent rgba(#ffc87d, 1) transparent transparent;
				border-style: solid;
				border-width: 10px 15px 10px 0;
				content: "";
				display: block;
				height: 0px;
				left: -15px;
				position: absolute;
				top: 20px;
				width: 0px;
				z-index: 2;
			}
			
			&:after {
				border-color: transparent rgba(#f0e6c8, 1) transparent transparent;
				border-style: solid;
				border-width: 10px 15px 10px 0;
				content: "";
				display: block;
				height: 0px;
				left: -13px;
				position: absolute;
				top: 20px;
				width: 0px;
				z-index: 3;
			}
			
		}
	}
	
	.indented {
		margin-left: 25px;
	}
	
	form.comment-form {
		margin: 1em 0;
		
		.text-format-wrapper .filter-wrapper {
			display: none;
		}
	}
}

