// @file
// Styles for views rows.

.view--commons-groups-contributors {
  margin-top: 1em;
	padding: 12px;
  background-color: #e7e7e7;
  
  .views-field-realname{
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: 2em;
    
    a {
      text-decoration: none;
    }
  }
  
  .views-field-field-profile-picture {
    img {
      width: 65px;
    }
  }
}