// @file
// Styles for content cluster.

.field-name-field-content-cluster {
	background-color: #e7e7e7;
	border: 1px solid darken(#e7e7e7, 10%);
	margin-bottom: 2em;
	padding: 20px;

	.field-name-field-cluster-title {
		color: #333;
		font-size: 1.3em;
		font-weight: bold;
	}

	.field-name-field-cluster-description {
		margin: 1em 0;
	}

	.field-name-field-cluster-related-resources {
		margin-bottom: 1.5em;

		.field-label {
			color: $uw_light_purple;
			font-size: 1.1em;
			font-weight: normal;
			text-transform: uppercase;
		}

		.field-items {
			border-top: 1px dashed $uw_light_purple;

			.field-item {
				.node--compact-teaser {
					@extend .views-row;
					background: #fff;
					border-bottom: 1px dashed $uw_light_purple;
					padding: 20px;

					.field-name-field-resource-type {
						.field-items {
							border: none;
						}
					}


				}
			}
		}
	}



}
