// @file
// Styles for CoP panes.

/**
 * CoP landing page panes
 */
.pane--node-links,
.pane--taxonomy-term-links, 
.pane--groups-body {
	padding: 0 !important;
	
	.panel-panel {
		width: auto;
		
		.inside,
		.pane {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.pane--node-links,
.pane--taxonomy-term-links {
	margin: 0 !important;
	position: relative;
	
	.panel-panel {
		.inside {
			margin: 0 4px 5px 0;
			
			@include breakpoint(800px, $no-query: true) {
				margin: 0 0.5em 0.5em 0;
			}
		}
	}
}

.pane--groups-body {
	margin-bottom: 2em;
	
	.panel-col-first {
		width: 70%;
	}
	
	.panel-col-last {
		width: 30%;
		
		img {
			width: 100%;
		}
	}
}

.pane--uwc-misc-comm-pract-panels-disc {
	clear: both;
	display: inline-block;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
	white-space: nowrap;

	.form-item__label {
		@extend %pane-header-sidebar;
		
		border: none;
		color: $uw_orange;
		font-family: $header-font-family;
		margin: 0 0 0.5em;
	}
	
	.form-item--textfield {
		display: inline-block;
		margin-bottom: 0;
		
		input {
			width: 275px;
			
			@include breakpoint(500px, $no-query: true) {
				width: 375px;
			}
			
			@include breakpoint(675px, $no-query: true) {
				width: 437px;
			}
			
			@include breakpoint(850px, $no-query: true) {
				width: 500px;
			}
			
			@include breakpoint(1000px, $no-query: true) {
				width: 100%;
			}
		}
	}
	
	.button {
		background-color: $uw_light_gray;
		border: 3px double #fff;
		display: inline-block;
		margin-bottom: 0;
		
		&:focus,
		&:hover {
			background-color: darken($uw_light_gray,10%);
		}
		
	}
}

.pane--uwc-misc-comm-pract-panels-links {
	display: inline-block;
	float: left;
	margin: 0;
	position: relative;
	
	@include breakpoint(1200px, $no-query: true) {
		float: right;
		margin: 1.8em 0 0;
	}
	
	.community-pract-links {
		float: left;
		margin: 0.1em 1.5em 0 0.5em;
		
		@include breakpoint(1200px, $no-query: true) {
			float: none;
			margin: 0;
		}
		
		a {
			color: $uw_orange;
			display: block;
			font-size: $font-size-sm;
			text-align: left;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
			
			&:before {
				background-color: $uw_orange;
				@include border-radius(30em);
				content: "i";
				color: #fff;
				display: inline-block;
				height: 16px;
				width: 16px;
				left: -6px;
				line-height: 16px;
				overflow: visible;
				padding: 2px 4px;
				position: relative;
				text-align: center;
				text-transform: lowercase;
				
			}
		}
	}
}

.pane--quicktabs-community-of-practice {
	clear: both;
}