// @file
// Styles for events.

.page-directory-events {
  .region-preface {
    display: none; //hacky, yes, but necessary because of Igor's "custom" code
  }
  
  .pane--page-tabs {
    .nav--primary-local-tasks {
      @extend %quicktabs;
      border-top: 1px solid $uw_dark_purple;
      margin-bottom: 2em;
      width: 100%;
      
      li.nav__item {
        width: 15%;
      
        a.nav__link {
          border: none;
          @include border-radius(0);
          line-height: 1.15;
        }
      }
    }
  }
  
  .pane--uwc-events-directory-uwc-events-directory-cal-jumpto {
    .pane__content {
      label {
        text-transform: uppercase;
      }
      
      a {
        text-decoration: none;
        
        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .pane--uwc-events-directory-uwc-events-directory-cal-pager {
    background: #fff8ed;
    
    .date-nav {

      .date-heading {
        top: 1.5em;
        
        h3 {
          color: #676bac;
          font-size: 2em;
          font-weight: normal;
          margin: 0;
          text-transform: uppercase;
          
          span {
            color: #c5c5c5;
          }
          
          @include breakpoint(800px, $no-query: true) {
						font-size: 2.5em;
					}
          
          @include breakpoint(1000px, $no-query: true) {
						font-size: 3em;
					}
        }
      }
      
      ul.pager {
        margin: 0;
        
        .date-prev {
          left: 1em;
          padding: 1.8em 0;
          top: 0.7em;
          
          a {
            color: $uw_dark_purple;
            font-size: 1.3em;
            margin-left: 2.5em;
            text-transform: lowercase;
            
            &:hover {
              text-decoration: underline;
            }
            
            &:before {
              border: 2em solid transparent;
              border-right: 1.5em solid transparent;
              border-right-color: #c5c6de;
              border-bottom-color: transparent;
              content: "";
              display: block;
              height: 0;
              overflow: hidden;
              position: absolute;
              left: -1.5em;
              top: 0;
              width: 0;
            }
          }
        }
        
        .date-next {
          padding: 1.8em 0;
          right: 1em;
          top: 0.7em;
          
          a {
            color: $uw_dark_purple;
            font-size: 1.3em;
            margin-right: 2.5em;
            text-transform: lowercase;
            
            &:hover {
              text-decoration: underline;
            }
            
            &:after {
              border: 2em solid transparent;
              border-left: 1.5em solid transparent;
              border-left-color: #c5c6de;
              border-top-color: transparent;
              content: "";
              display: block;
              height: 0;
              overflow: hidden;
              position: absolute;
              right: -1.5em;
              top: 0;
              width: 0;
            }
          }
        }
      }
    }
  }
  
  .pane--uwc-events-calendar-uwc-event-calendar-month-pane {
    border: 1px solid $uw_light_gray;
    @include border-radius(5px);
    overflow: hidden;
    padding-bottom: 0;
    
    .calendar-calendar {
      
      table {
        width: 100.2%;
        
        thead {
          th {
            background: none;
            @include background-image(linear-gradient(#fff, $uw_lighter_gray));
            border: none;
            border-bottom: 1px solid $uw_lighter_gray;
            color: #333;
            font-size: 0.9em;
            font-weight: normal;
            padding: 2px 0;
            @include text-shadow(#fff2b2 0 0 1px);
            width: 14%;
            
            &.sat,
            &.sun {
              color: $uw_light_gray;
            }
          }
        }
        
        tbody {
          background: #fff;
          border: 4px solid #fff;
          
          td {
            padding: 0;
            text-align: center;
            
            .month {
              background: #fff;
              border: 1px solid #ececec;
              @include border-radius(30em);
              color: #ececec;
              font-size: 0.9em;
              height: 25px;
              margin: 3px auto;
              padding: 2px 0;
              width: 25px;
            }
            
            &.active-item {
              background: #fff2de;
            }
            
            &.has-events {
              .month {
                background: #7f7fb6;
                border: 1px solid #7f7fb6;
                
                a {
                  color: #fff;
                  display: block;
                  text-decoration: none;
                }
              }
            }
            
            &.today {
              
              .month {
                background: #ffb64e;
                border: 1px solid #fe9a0b;
                color: #fff;
              }
            }
            
            &.empty {
              .calendar-empty {
                background: #ececec;
                @include border-radius(30em);
                height: 25px;
                margin: 4px auto 0;
                padding: 2px 0;
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
  
  .pane--blockify-blockify-tabs {
    h2.pane__title {
      border: none;
      color: #999;
      font-size: 1em;
      text-align: center;
    }
    
    .nav--primary-local-tasks {
      float: none;
      margin: 0;
      padding: 0;
      text-align: center;
      
      li.nav__item {
        border-left: 1px solid $uw_gray;
        display: inline-block;
        float: none;
        margin: 0;
        padding: 1px 3px 0 5px;
        
        &:first-child {
          border: none;
        }
      
        a.nav__link {
          background: none;
          border: none;
          color: $uw_dark_purple;
          line-height: 0.8em;
          margin: 0;
          padding: 0;
          text-transform: lowercase;
        }
        
        &.is-active {
          a {
            color: $uw_gray;
          }
        }
      }
    }
  }
  
  .view {
    .date-nav-wrapper {
      .date-nav {
        margin: 0 0 0.5em;
        padding: 0;
        
        .date-heading {
          h3 {
            color: $uw_gray;
            font-family: $base-font-family;
            font-size: 1.2em;
            font-weight: normal;
            text-transform: uppercase;
          }
        }
        
        ul.pager {
          margin: 0;
          
          li {
            background: none;
            border: none;
            height: 20px;
            padding: 0;
            text-align: center;
            top: 5px;
            width: 20px;
            
            a {
              border: 1px solid $uw_light_gray;
              @include border-radius(30em);
              color: $uw_light_gray;
              display: block;
              font-size: 1.3em;
              font-weight: bold;
              height: 20px;
              margin: 0 auto;
              padding: 0;
              width: 20px;
              
              &:focus,
              &:hover {
                border-color: $uw_gray;
                color: $uw_gray;
                text-decoration: none;
              }
              
            }
            
            &.date-prev {
              left: 8px;
              right: auto;
            }
            
            &.date-next {
              right: 8px;
              
              a {
                text-indent: 1px;
              }
            }
          }
        } 
      }
    }
  }
}