  // @file
  // Styles for fields.

  .field {
    a {
      @extend %hover-underline;
    }
    
    &.type {
      //border-left: 1px solid $uw_gray;
      display: block;
      font-family: $header-font-family;
      font-size: 0.9em;
      margin: 0 0 0.5em;
      text-transform: uppercase;
    
      .field-item,
      & > span {
        background: $uw_orange;
        border: none;
        color: #fff;
        display: inline-block;
        font-size: 1.1em;
        padding: 2px 3px;
      }

      .view-mode-teaser & {
        border-left: 1px solid $uw_gray;
        display: inline-block;
        margin-left: 1em;
        padding-left: 1.1em;
      }
      
    }
  }

  .field-name-group-access-type.type {
    .field-item {
      background: #000;
    }
  }

  .field-name-user-full-name {
    font-size: 0.9em;
    line-height: 1.1em;
    margin-top: 0.1em;
  }


  .field-name-changed-date,
  .field-name-post-date {
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    
    .view-mode-full & {
      clear: left;
      line-height: 1em;
    }
  }

  .field-name-author {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 0.9em;
    
    .view-mode-full & {
      border-left: 1px solid $uw_gray;
      display: inline-block;
      line-height: 1em;
      margin: 0 0 0 1em;
      padding-left: 1.1em;
    }
    
    &:before {
      content: "by ";
    }
  }

  .field-name-title,
  .field-name-title-field {
    h2 {
      @extend %node-title;
      font-size: 2.4em;
      margin-bottom: 0.8em;
      margin-top: 0.1em;
    }
    
    h3 {
      font-family: $base-font-family;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0.1em 0 0.3em;
      
      a {
        color: $uw_dark_purple;
        
        &:focus,
        &:hover {
          color: $uw_darker_purple;
        }
      }
    }
  }

  .field-name-body {
    margin-bottom: 1.5em;
        
    p {
      margin: 0;
    }
  }

  .field-name-og-group-ref,
  .field-name-field-topics {
    font-size: 0.9em;
    margin: 0.2em 0;
    text-transform: uppercase;
    
    .label-inline {
      display: inline-block;
      margin-right: 5px;
      padding: 2px 0 0;
      
    }
    
    a {
      font-weight: bold;
    }

  }

  .field-name-field-topics {
    a {
      text-transform: lowercase;
    }
  }

  .field-name-field-location {
    margin-bottom: 1em;
    
  }

  .commons-follow-node,
  .field-name-flag-commons-follow-node {
    @extend %follow-button;
    
    .view-mode-full & {
      margin-left: 0.5em;
    }
  }

  .field-name-rate-integration-1 {
    @extend %like-button;
  }

  .field-name-comment-count {
    @extend %comment-count;
  }

  .group-node-actions {
    @include clearfix;
    float: left;
    margin-top: 1.2em;
    
    .field {
      float: left;
      margin-right: 2em;
    }

  }

  .group-node-tax {
    border-bottom: 1px solid $uw_light_gray;
    border-top: 1px solid $uw_light_gray;
    margin: 1em 0 2em;
    padding: 0.5em 0;
  }

  .field-name-field-link,
  .field-name-field-document-file {
    margin-bottom: 1.5em;
    
    a {
      display: block;
    }
  }

  /**
   *event fields
   */
    
  .node--event.node--compact-teaser {
    .field-name-field-date {
      background: transparent url(../images/icons/icon-cal.png) left 0em no-repeat;
      font-family: $header-font-family;
      font-size: 1.4em;
      font-weight: normal;
      line-height: 1.1;
      margin-left: -5px;
      margin-bottom: 0;
      min-height: 35px;
      padding-left: 38px;
      padding-top: 5px;
    }
    
    .field-name-title-field {
      h3 {
        font-size: 1.1em;
        margin: 0.2em 0 0;
      }
    }
    
    .field-name-field-address {
      line-height: 1.5;
    }
  }

  /**
   *org fields
   */
  .node-type-organization {
    .field-name-field-org-name {
      @extend %node-title;
    }
    
    .field {
      color: $uw_gray;
      font-weight: bold;
      margin: 1em 0;
      
      .label-above {
        @extend h3;
        font-weight: normal;
        margin: 0 0 0.1em;
        text-transform: uppercase;
      }
      
      .label-inline {
        display: inline;
        font-weight: normal;
        text-transform: capitalize;
      }
    
    
      &.field-name-field-org-name {
        @extend %node-title;
      }
      
    }
    
    .group-general-contact {
      h3 {
        font-weight: normal;
        margin: 0 0 0.1em;
        text-transform: uppercase;
      }
      
      .field {
        margin: 0;
      }
    }
    
  }

  /**
   *metro size and bmp fields
   */
  .field-name-field-org-metro-size,
  .field-name-field-org-bpm {
    
    .field-name-bpm,
    .field-name-metro-size {
      background: $uw_lighter_gray;
      border: 2px solid $uw_light_gray;
      @include border-radius(5px);
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      padding: 1em 1.5em;
      text-align: center;
    }
  }

  /**
   *directory fields
   */
  .page-directory {
    .field-name-field-address,
    .field-name-field-org-website {
      margin-bottom: 0.4em;
    }
    
    .field-name-field-org-metro-size,
    .field-name-field-org-bpm {
      float: left;
      margin-right: 2%;
      width: 48%;
      
      .label-inline {
        color: $uw_light_gray;
        font-size: $font-size-md;
        text-transform: uppercase;
      }
      
      .field-name-bpm,
      .field-name-metro-size {
        padding: 0.5em 0.7em;
      }
    }
    
    .field-name-field-primary-role {
      font-size: 0.9em;
      font-style: italic;
      color: #333;
    }
    
    .field-name-field-local-united-way {
      font-size: 1.1em;
      margin: 0.3em 0;
    }
  }


  /**
   *topic guide fields
   */
  .pane-taxonomy-term-field-guide {
    .page-taxonomy-term & {
       @extend .views-row;
       
       
      .field-name-field-guide {
        @extend %featured;
        padding: 0 24px;
      }
    }
  }
