// @file
// Styles for form fieldsets.

.fieldset {
  background: #fff;
  border: 1px solid $form-border-color;
  margin: rhythm(1) 0 rhythm(1) + em(12px);
  padding: 0 1em;
  position: relative;
  top: em(12px); // Offsets the negative margin of legends.
}

.fieldset__legend {
  @include box-sizing(content-box);
  background: $form-bg-color;
  border: 1px solid $form-border-color;
  border-bottom: none;
  color: #333;
  display: block;
  height: 2em;
  left: -1px; // LTR
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 0;
  text-shadow: 0 1px 0 #fff;
  top: em(-12px);
  width: 100%;
}

.fieldset__legend-text {
  display: block;
  padding-left: 1em;
}

.fieldset__legend-link {
  display: block;
}

.fieldset__content {
  margin-top: 2.5em;
  
  .horizontal-tabs & {
    overflow: visible !important;
  }
}

.fieldset__description {
  font-style: italic;
  margin: rhythm(1) 0;
}

.fieldset--collapsible {
  .fieldset__legend-link:before {
    content: "-";
    display: inline-block;
    font-weight: bold;
    margin-right: 1em;
  }

  &.is-collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: rhythm(2) + em(12px);

    .fieldset__legend {
      border-bottom: 1px solid $form-border-color;
    }

    .fieldset__legend-link:before {
      content: "+";
    }

    .fieldset__content {
      display: none;
    }
  }
}
