// @file
// Styles for the file icons.

.file {
  clear: left;
  margin-bottom: 0.3em;
  
  a {
    display: block;
    line-height: 1.2em;
    margin-left: 30px;
    min-height: 27px;
    padding-top: 0.2em;
  }
  
  .icon {
    background: url(../images/icons/icon-file-types.png) left center no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    height: 27px;
    width: 24px;
    
    &.doc,
    &.docx {
      background-position: -33px 0;
    }
    
    &.pdf {
      background-position: -66px 0;
    }
    
    &.ppt,
    &.pptx {
      background-position: -99px 0;
    }
    
    &.xls,
    &.xlsx {
      background-position: -1px 0;
    }
  }
}