// @file
// Styling for forms


form {
  clear: both;
  
  h2 {
    color: grayscale($uw_light_purple);
    font-family: $base-font-family;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 0.5em;
    text-transform: capitalize;
  }
  
  .field-type-datestamp {
    margin: 2em 0;
    
    .fieldset__content {
      padding: 20px;
    }
  }
  
  .field-type-entityreference {
    margin-bottom: 2.1em;
    position: relative;
    
    .single-value {
      float: none;
      height: 24px;
      position: absolute;
      top: 3em;
      
      &.entityconnect-edit {
        left: 1.6em;
      }
      
      input.button {
        &:focus,
        &:hover {
          background-color: #fff;
        }
      }
    }
  }

  
  table {
    thead {
      tr {
        background: grayscale($uw_dark_purple);
        color: #fff;
        font-family: $base-font-family;
        font-weight: normal;
        
        th.field-label {
          padding: 0.4em 0.8em !important;
        }
      }
    }
    
    tr {
      background: grayscale($uw_pale_purple);
    
      &.odd {
        background: grayscale(#d9d9e9);
      }
    }
  }
}