// @file
// Styling for landing pages

.field-name-field-landing-page-section {
  border-top: 1px dashed $uw_light_gray;
  
  .view-mode-full {
    @extend .views-row;
    padding: 2em 0 1em;
  }
    
  .group-left {
    margin-right: 5%;
    width: 35%;
    
    .field-name-field-lp-section-title {
      @extend h1;
      color: $uw_light_purple;
      margin: 0 0 0.2em;
      text-transform: uppercase;
    }
    

  }
  
  .group-right {
    margin: 0;
    width: 60%;
    
    .field-name-field-lp-type-settings-links-lnk {
      a {
        display: block;
        
        &:before {
          content: "\203A ";
          font-size: 1.2em;
          font-weight: bold;
          line-height: 1.5;
          text-decoration: none;
        }
      }
    }
    
    .field-name-field-lp-type-settings-content-r {
      .view-mode-teaser {
        padding-top: 0;
        
        .group-right.teaser-right {
          float: none;
          margin-left: 93px;
        }
      }
    }
  }
}