// @file
// Mobile menu

.mobile-nav {
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    display: none;
  }
}

.region-navigation {
  display: none;

  @include breakpoint($mobile-menu-bp, $no-query: true) {
    display: block;
  }
}

.mobile-nav__bar {
  @include background-image(
    linear-gradient(
      top,
      $gradient-light 0%,
      $gradient-dark 100%
    )
  );
  background-color: $mobile-menu-bg-color-fallback;
  background-color: $mobile-menu-bg-color;
  color: $mobile-menu-text-color;
  height: 3em;
  padding: 0 0.25em;
  text-align: right; // LTR

  [dir="rtl"] & {
    text-align: left;
  }
}

.mobile-nav__button {
  @include background-image(
    linear-gradient(
      top,
      $gradient-light 40%,
      $gradient-dark 60%
    )
  );
  @include border-radius();
  @include box-shadow(none);
  background-color: transparent;
  border: 2px solid transparent;
  color: $mobile-menu-text-color;
  display: inline-block;
  font-family: $mobile-menu-font-family;
  font-size: $font-size-normal;
  font-weight: bold;
  height: 2.5em;
  line-height: 2.5;
  margin: em(4px) 0.25em;
  padding: 0 0.5em;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active,
  &.is-active {
    background-color: $mobile-menu-link-color;
    border-width: 2px;
    color: $mobile-menu-text-color;
    outline: 0;
  }

  &:focus {
    border-color: $mobile-menu-text-color;
  }
}

.mobile-nav__icon {
  @include image-replace(26px, 20px);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 0.5em;
}

.mobile-nav__icon--home {
  @include svg-background(home);
}

.mobile-nav__icon--menu {
  @include svg-background(hamburger);
}

.mobile-nav__icon--search {
  @include svg-background(search);
  background-position: 0 -1px;
}

.mobile-nav__links {
  background-color: $mobile-menu-bg-color-fallback;
  background-color: $mobile-menu-bg-color;
  color: $mobile-menu-text-color;
  padding: 0.5em 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.nav--mobile {
  border-bottom: 1px solid $mobile-menu-border-color;
  border-top: 1px solid $mobile-menu-border-color;
  margin: 0;

  .nav__item {
    margin: 0;
    padding: 0;

    + .nav__item {
      border-top: 1px solid $mobile-menu-border-color;
    }
  }

  .nav__link {
    background-color: transparent;
    border: 0;
    color: $mobile-menu-text-color;
    display: block;
    font-family: $mobile-menu-font-family;
    font-size: $font-size-normal;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    padding: em(12px) 1em;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;

    &:focus,
    &:hover,
    &:active,
    &.is-active {
      background-color: $mobile-menu-link-color;
      color: $mobile-menu-text-color;
      outline: 0;
    }
  }

  .nav__link--parent {

    &:after {
      @include svg-background(arrow-right); // LTR
      background-position: 0 50%;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      height: 20px;
      margin-left: 1em; // LTR
      vertical-align: top;
      width: 20px;

      [dir="rtl"] & {
        @include svg-background(arrow-left);
        margin-left: 0;
        margin-right: 1em;
      }
    }

    &.is-active:after {
      @include svg-background(arrow-down);
    }
  }

  .nav--subnav {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    .nav__item {
      background: $mobile-submenu-bg-color;

      + .nav__item {
        border-top: 1px solid $mobile-submenu-border-color;
      }
    }

    .nav__link {
      color: $mobile-submenu-text-color;
      padding-left: 1.5em;

      &:focus,
      &:hover,
      &:active {
        background-color: $mobile-submenu-link-color;
      }
    }
  }
}


.mobile-nav__search {
  background-color: $mobile-menu-bg-color-fallback;
  background-color: $mobile-menu-bg-color;
  border-bottom: 1px solid $mobile-menu-border-color;
  border-top: 1px solid $mobile-menu-border-color;
  color: $mobile-menu-text-color;
  padding: 0.5em 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.search--mobile {
  @extend %search-bar;
  background: none;
  display: block;
  float: none;
  margin: 0 auto;
  padding: 0.5em 0;
  text-align: center;
}
