// @file
// Styles for navigation lists.

.nav {
  list-style: none;
  padding: 0;
}

// Extendable custom nav styles.
@import 'nav/nav--main';
@import 'nav/nav--pillbox';
@import 'nav/nav--pipeline';
@import 'nav/nav--primary-local-tasks';
@import 'nav/nav--secondary-local-tasks';
@import 'nav/nav--utility';
