// @file
// Styles for pagers.

.pager {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

.pager__item {
  background: $uw_lighter_purple;
  @include border-radius(2px);
  color: #fff;
  display: inline-block;
  height: 1.5em;
  margin: 0 2px;
  padding: 2px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 1.5em;
  
  a {
    color: #fff;
    display: block;
    text-decoration: none;
    
    &:focus,
    &:hover {
      background: darken($uw_lighter_purple, 10%);
    }
    
    &:before {
      display: block;
      text-align: center;
    }
  }
  
  &.pager__item--current {
    background: $uw_dark_purple;
  }
  
  &.pager__item--ellipsis {
    background: none;
    color: $uw_dark_purple;
  }
}

.pager__link--first:before {
  content: "|«";
}

.pager__link--previous:before {
  content: "‹";
}

.pager__link--next:before {
  content: "›";
}

.pager__link--last:before {
  content: "»|";
}

.pager-next {
  .view & {
    padding-top: 1em;
  }
  
  text-align: center;
  
  a {
    background: $uw_dark_purple;
    color: #fff;
    padding: 0.7em 1.2em 0.5em;
    text-decoration: none;
    
    &:focus,
    &:hover {
      background: $uw_darker_purple;
    }
  }
}