// @file
// Styles for panes.

.pane {
	color: #7e7e7e;
	margin-bottom: 1.2em;
	padding-bottom: 1em;
	
	&.has-bg-color {
		padding: 12px;
		
		&.title-contained.pane-content {
			margin: 0;
			padding: 0;
		}
		
		form {
			label {
				@extend %pane-gray-header-sidebar;
				padding-top: 0;
			}
		}
	}
	
	&.purple-gray {
		background-color: #f0f1f5;
		
		form {
			label {
				color: $uw_light_purple;
			}
		}
	}
	
	&.gray {
		background-color: #e7e7e7;
	}
	
	p {
		margin: 0.5em 0;
	}
	
	ul {
		.l-sidebar & {
			@extend %pane-list;
		}
	}
}