// @file
// Styling for profile form

.block--uwc-misc h1 {
  @extend %node-title;
  
  position: absolute;
  top: 85px;
  
  .lt-ie9 & { top: 80px; }
}


#user-profile-form {
  .form-actions {
    margin-left: 25%;
  }
  
  .user-general-info {
    .view {
      .view__header {
        background: #a1a1a1;
        color: #fff;
        font-style: italic;
        padding: 0.4em 0.8em;
        
        p {
          margin: 0;
          
          a {
            color: #fff;
          }
        }
      }
      
      .views-row {
        border: none;
        padding: 1em 0;
        
        .views-field {
          color: #a1a1a1;
          float: left;
          margin: 0 2% 2em;
          width: 46%;
          
          .field {
            font-size: 0.9em;
            font-weight: bold;
            padding: 0.3em 0;
            
            .label-inline {
              display: inline;
              font-weight: normal;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}