// @file
// Styling for profile tabs


/**
 * Purple tabs
 */

.tabs-purple {
  .vertical-tabs-list a {
    background: $uw_light_purple;
    
    &:focus,
    &:hover {
      background: darken($uw_light_purple, 10%);
    }
    
    &:focus:after,
    &:hover:after {
      border-left-color: $uw_light_purple;
    }
    
    @include breakpoint(700px, $no-query: true) {
      &:focus,
      &:hover {
        background: $uw_light_purple;
      }
    }
  }
  
  .vertical-tabs-list .selected a {
    background: $uw_dark_purple;
    
    &:after {
      border-left-color: $uw_dark_purple;
    }
  }
  
  .vertical-tabs-pane {
    border: 1px solid #b1b4d0;
    
    h2 {
      color: $uw_light_purple;
      font-family: $base-font-family;
      font-size: 1.5em;
      font-weight: normal;
      margin: 0 0 0.5em;
      text-transform: capitalize;
    }
    
    h3 {
      @extend %table-title;
      font-family: $base-font-family;
      font-weight: normal;
    }
    
    /**
     * Social media
     */
    
    .group-social-media {
      table {
        th {
          @include element-invisible;
        }
        
        td.field_social_contact_type {
          font-weight: bold;
          width: 25%;
        }
      }
    }
    
    /**
     * Interests & expertise
     */
    
    .group-expertise{
      float: none;
      width: 100%;
      
      @include breakpoint(700px, $no-query: true) {
        border-right: 1px solid #e6e6e6;
        float: left;
        margin-bottom: 1em;
        padding-right: 35px;
        width: 50%;
      }
      
      th {
        @extend %table-title;
      }
    }
    
    .group-interests {
      float: none;
      width: 100%;
      
      @include breakpoint(700px, $no-query: true) {
        float: left;
        padding-left: 35px;
        width: 49.9%;
      }
      
      th,
      .label-above {
        @extend %table-title;
      }
      
      .label-above {
        margin-bottom: 1em !important;
      }
    }
    
    /**
     * Professional profile
     */
    
    &.group-professional-profile {
      .view-uwc-user-professional-positions {
        margin-bottom: 2.5em;
        
        table {
          margin-bottom: 0.7em;
          
          caption {
            background: #fff;
            font-size: 1.1em;
            font-weight: bold;
            margin-top: 0.7em;
            padding: 0.2em 0.8em;
            text-transform: none;
          }
          
          th {
            background: #000;
            color: #fff;
            font-size: 0.7em;
            padding-bottom: 0;
            padding-top: 0.2em;
            text-transform: uppercase;
          }
          
          th,
          td {
            font-size: 0.8em;
            padding-left: 5px;
            padding-right: 5px;
            
            @include breakpoint(700px, $no-query: true) {
              font-size: inherit;
              padding-left: 25px;
              padding-right: 25px;
            }
          }
        }
      }
      
      .field-name-field-bio,
      .field-name-field-affiliations {
        .label-above {
          @extend %table-title;
          margin-bottom: 1em !important;
        }
      }
      
      .field-name-field-bio {
        margin-bottom: 2em;
      }
    }
      
    /**
     * Activity feed
     */
    
    &.group-activity-feed {
      .quicktabs-wrapper {
        border-top: 1px solid $uw_dark_purple;
        
        .quicktabs-tabs {
          float: left;
        }
      }
      
      
      .view--commons-activity-streams-user-activity {
        clear: both;
        float: left;
        margin-top: 2em;
        
        .views-row {
          padding: 1em 0;
          
          div.views-field {
            line-height: 1.4em;
            margin-left: 60px;
            position: relative;
            
            .user-picture {
              left: -60px;
              position: absolute;
            }
            
            a {
              color: #2783b9;
              text-decoration: none;
              
              &:focus,
              &:hover {
                text-decoration: underline;
              }
            }
            
            &.views-field-timestamp {
              color: #919191;
            }
          }
        }
      }
    }
    
    /**
     * Following/ers
     */
    
    &.group-follows {
      .view {
        margin-bottom: 2em;
        
        .views-field {
          text-align: center;
          
          &.views-field-field-profile-picture {
            padding-top: 1em;
          }
        }
      }
    }
  }
}
