// @file
// Styling for profile top

.profile-top {
  margin-top: 1em;
  
  .profile-content-wrapper {
    margin-bottom: 2em;
  
    
    .profile-photo-box {
      
      
      .field {
        font-size: 0.9em;
        text-align: center;
        
        label {
          color: $uw_dark_purple;
          margin-right: 0.2em;
          text-transform: uppercase;
        }
        
        span {
          color: $uw_orange;
        }
      }
      
      .member-overview {
        background: $uw_darker_purple;
        color: #fff;
        display: block;
        font-size: 1em;
        font-weight: bold;
        margin: 0;
        padding: 0.3em 0.5em 0.2em;
        position: relative;
          
        @include breakpoint(700px, $no-query: true) {
          padding: 0.5em 0.6em 0.4em;
          text-align: right;
          
          &:after {
            border: 1.2em solid transparent;
            border-left: 1em solid transparent;
            border-left-color: $uw_darker_purple;
            border-top-color: transparent;
            content: "";
            display: block;
            height: 0;
            overflow: hidden;
            position: absolute;
            right: -2.1em;
            top: 0;
            width: 0;
          }
        }
  
        @include breakpoint(800px, $no-query: true) {
          font-size: 1.2em;
          padding: 0.6em 0.6em 0.5em;
        }
        
    }
      
      .field-name-field-profile-picture {
        float: left;
        margin: 20px;
        
        @include breakpoint(700px, $no-query: true) {
          float: none;
          margin: 30px auto 0;
        }
        
      }
      
      .field-name-flag-commons-follow-user {
        @extend %follow-button;
        display: block;
        margin-bottom: 1em;
        margin-top: 21px;
        text-align: left;
        
         @include breakpoint(700px, $no-query: true) {
          margin-bottom: 0.5em;
          margin-top: 0;
          text-align: center;
        }
      }
      
      .field-name-user-follow-count .field {
        text-align: left;  
      
        @include breakpoint(700px, $no-query: true) {
          text-align: center;
        }
      }
    }
    
    .profile-description {
      background: $uw_pale_purple;
      border: 1px solid #b1b4d0;
      clear: left;
      padding: 20px;
      
      @include breakpoint(700px, $no-query: true) {
        clear: none;
        padding: 25px 35px;
      }
      
      .field {
        color: #000;
        margin: 0.5em 0 1em;
        
        .label-inline {
          color: #4c4c4c;
          display: inline;
          font-size: 0.9em;
          text-transform: uppercase;
        }
        
        a {
          text-decoration: none;
        }
      }
      
      .field-name-user-full-name {
        color: #000;
        font-size: 2.4em;
        font-weight: bold;
        line-height: 1.2em;
        margin: 0;
        text-decoration: none;
      }
      
      .field-name-field-intro-statement {
        border-bottom: 1px solid #bdbdc3;
        color: #4c4c4c;
        padding-bottom: 1em;
        margin-bottom: 1em;
      }
      
      .profile-description-left,
      .profile-description-right {
        
        @include breakpoint(700px, $no-query: true) {
          float: left;
          margin-right: 5%;
          width: 45%;
        }
        
        .field {
          font-weight: bold;
          
          &.field-name-field-primary-role-other,
          &.field-name-field-current-position,
          .label-inline {
            font-weight: normal;
          }
        }
      }
    }
  }
}