// @file
// Styles for quicklinks (on homepage).


%quick-links {
	ul.nav {
		margin: 0;
		padding-left: 0 !important;
		
		li {
			border-bottom: 1px dashed $uw_light_gray;
			list-style-image: none;
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			&.last {
				border: none;
			}
			
			a {
				color: $uw_gray;
				display: block;
				font-size: $font-size-md;
				padding: 10px 10px 7px;
				text-decoration: none;
				
				
				&:focus,
				&:hover {
					background: $uw_light_purple;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

.pane--menu-quick-links {
	display: none;
	@extend %quick-links;
	
	@include breakpoint($mobile-menu-bp, $no-query: true) {
		display: block;
	}
}