// @file
// Styles for quicktabs.

.quicktabs-wrapper {
	.pane__content & {
		@include clearfix;
	}
}

%quicktabs {
	@include clearfix;
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
	
	@include breakpoint(600px, $no-query: true) {
		width: auto;
	}

	
	li {
		border-top: 2px solid #fff; 
		display: block;
		font-family: $header-font-family;
		font-size: 0.9em;
		font-weight: bold;
		padding: 0;
		text-transform: uppercase;
		width: 100%;
		
		@include breakpoint(600px, $no-query: true) {
			border: none;
			float: left;
			font-size: 1.1em;
			margin-left: 2px;
			width: auto;
		}
		
		@include breakpoint(1005px, $no-query: true) {
			font-size: 1.2em;
		}
		
		&:first-child {
			margin-left: 0;
		}
		
		a {
			background: #c5c6de;
			color: $uw_darker_purple;
			display: block;
			margin: 0;
			padding: 0.3em 0.5em 0.2em;
			position: relative;
			text-align: center;
			text-decoration: none;
			
			@include breakpoint(600px, $no-query: true) {
				padding: 0.4em 1.2em;
			}
			
			&:focus,
			&:hover {
				background: darken(#c5c6de, 10);
			
				&:after {
					
					@include breakpoint(600px, $no-query: true) {
						border: .45em solid transparent;
						border-right-color: transparent;
						border-top: .6em solid transparent;
						border-top-color: darken(#c5c6de, 10);
						top: 2em;
						content: "";
						display: block;
						height: 0;
						left: 44%;
						overflow: hidden;
						position: absolute;
						width: 10%;
					}
					
					@include breakpoint(1005px, $no-query: true) {
						top: 1.9em;
					}
				}
			}
		}
		
		&.active,
		&.is-active { //for secondary nav in user profiles
			a {
				background: $uw_dark_purple;
				color: #fff;
				
				&:after {
					
					@include breakpoint(600px, $no-query: true) {
						border: .45em solid transparent;
						border-right-color: transparent;
						border-top: .6em solid transparent;
						border-top-color: $uw_dark_purple;
						top: 2em;
						content: "";
						display: block;
						height: 0;
						left: 44%;
						overflow: hidden;
						position: absolute;
						width: 10%;
					}
					
					@include breakpoint(1005px, $no-query: true) {
						top: 1.9em;
					}
				}
			}
		}
	}
}

%quicktabs-inner {
	border-bottom: 1px dashed $uw_light_gray;
	border-top: 1px dashed $uw_light_gray;
	margin: 1em 0 !important;
	padding: 0.5em 0;
	width: 100%;
	
	
	@include breakpoint(600px, $no-query: true) {
		margin: 2em 0;
		padding: 0.5em 1em;
	}
	
	li {
		font-family: $base-font-family;
		font-weight: normal;
		text-transform: capitalize;
		
			@include breakpoint(600px, $no-query: true) {
				border-right: 1px solid $uw_light_gray;
				padding: 0 10px 0 9px;
			}
			
			@include breakpoint(810px, $no-query: true) {
				padding: 0 5px 0 4px;
			}
		
			@include breakpoint(1025px, $no-query: true) {
				padding: 0 10px 0 9px;
			}
			
			@include breakpoint(1200px, $no-query: true) {
				padding: 0 14px 0 13px;
			}
		
		a {
			background: #fff;
			color: $uw_gray;
			font-size: 0.8em;
			padding: 0 0.5em;
			
			@include breakpoint(810px, $no-query: true) {
				padding: 0.1em 1em;
			}
			
			@include breakpoint(1025px, $no-query: true) {
				padding: 0.1em 1.4em;
			}
			
			@include breakpoint(1200px, $no-query: true) {
				padding: 0.1em 1.8em;
			}
			
			&:after {
				border: none;
			}
			
			&:focus,
			&:hover {
				background: $uw_dark_orange;
				color: #fff;
			}
		}
		
		&.active {
			a {
				background: $uw_orange;
				color: #fff;
			}
		}
		
		&:last-child {
			border-right: none;
		}
		
	}
}


ul.quicktabs-tabs {
	@extend %quicktabs;
}

#quicktabs-cop_recent ul.quicktabs-tabs,
#quicktabs-cop_popular ul.quicktabs-tabs,
#quicktabs-cop_recommended ul.quicktabs-tabs {
	@extend %quicktabs-inner;
}

.quicktabs_main {
	clear: right;
}
