// @file
// Styles for the slideshow.



/**
 * Basic (not all) styles from flexslider
 */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }


/**
 * UW version of direction nav
 */

.flex-direction-nav {
	*height: 0;
	
	a {
		background: rgba($uw_dark_purple, 0.5);
		border: 5px solid #fff;
		@include border-radius(30px);
		cursor: pointer;
		display: block !important;
		height: 40px;
		margin: -20px 0 0;
		opacity: 0.3;
		overflow: hidden;
		position: absolute;
		text-decoration: none;
		text-indent: -9999em !important;
		top: 50%;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
		width: 40px;
		z-index: 2;
	}
	
	a.flex-prev {
		background: transparent url(../images/bg/arrow-left.png) 4px center no-repeat;
		left: 1%;
		text-align: center; //hides :before text added by flexslider js
		
		.flexslider:focus &,
		.flexslider:hover & {
			left: 1%;
		}
	}
	
	a.flex-next {
		background: transparent url(../images/bg/arrow-right.png) 6px center no-repeat;
		right: 1%;
		text-align: center; //hides :before text added by flexslider js
		
		.flexslider:focus &,
		.flexslider:hover &{
			right: 1%;
		}
		
		@include breakpoint(1005px, $no-query: true) {
			right: 31%;
			
			.flexslider:focus &,
			.flexslider:hover & {
				right: 31%;
			}
		}
	}
	
	&.flex-disabled {
		opacity: 0 !important;
		filter:alpha(opacity=0);
		cursor: default; 
	}
	
}

.flexslider:focus,
.flexslider:hover {
	.flex-prev,
	.flex-next {
		opacity: 0.7;
		
		&:focus,
		&:hover {
			opacity: 1;
		}
	}
}


/**
 * Slideshow pane and view
 */

.pane--uwc-slideshow-homepage-pane > div{
	//override %pod and %pod-content
	background-color: none !important;
  @include border-radius(0px, !important);
  @include box-shadow(transparent 0px 0px 0px);
  margin: 0 !important;
	padding: 0 !important;
}

.view--uwc-slideshow {
	
	.flexslider {
		@include box-shadow(none);
		border: none;
		margin: 0;
	
		ul.slides {

			li {
				background: $uw_dark_purple;
				display: block;
				margin: 0;
				padding: 0;
				position: relative;
								
				.field-slide-image {
					float: left;
					width: 100%;
					
					@include breakpoint(1005px, $no-query: true) {
						width: 70%;
					}
					
					a {
						margin: 0;
						padding: 0;
					}
				}	
			
				h3.field-slide-title {
					background: rgba($uw_dark_purple, 0.7); 
					bottom: 0;
					font-size: 1.3em;
					font-weight: normal;
					margin: 0;
					padding: 3px 5px;
					position: absolute;
					width: 100%;
					
					@include breakpoint(1005px, $no-query: true) {
						background: none;
						bottom: auto;
						clear: none;
						font-size: 1.6em;
						height: 100%;
						line-height: 1.3;
						padding: 20px 18px;
						right: 0;
						width: 30% !important;
					}
					
					a {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
			
		ol.flex-control-nav {
			display: inline-block;
			height: 25px;
			list-style: none;
			margin: 0 auto;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 100%;
			z-index: 2;
			
			@include breakpoint(1005px, $no-query: true) {
				background: #ff9600;
				bottom: 0;
				top: auto;
				width: 30%;
			}
			
			li {
				display: inline-block;
				margin: 0 4px;
				padding: 0;
				text-align: center;
				text-indent: -9999em;
				width: 11px;
				
				a {
					background: rgba(#ff9600, 0.9);
					border: none;
					@include border-radius(30px);
					cursor: pointer;
					display: block;
					height: 9px;
					margin: 8px auto 0;
					position: relative;
					width: 9px;
					z-index: 2;
					
					@include breakpoint(1005px, $no-query: true) {
						background: rgba(#ffffff, 0.7); 
					}
					
					&.flex-active {
						height: 11px;
						top: -1px;
						width: 11px;
					}
				}
			}
		}
	}	
}
