// @file
// Styles for the tables.

%table-title {
  background: $uw_dark_purple;
  color: #fff;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  padding: 0.8em;
  text-align: left;
  text-transform: uppercase;
}

table {
  margin-bottom: 2em;
  width: 100%;
  
  caption {
    @extend %table-title;
    
    a {
      text-decoration: none;
      
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  tr {
    background: $uw_pale_purple;
    text-align: left;
    
    th,
    td {
      border-top: 1px solid #fff;
      padding: 0.4em 0.8em;
    }
    
    th {
      width: 25%;
    }
    
    &.odd {
      background: #d9d9e9;
    }
  }
}