// @file
// Styles for teasers.

.view-mode-teaser,
.view-mode-search_result {
  padding: 1em 0 1.5em;
  
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    padding: 1.5em 0 2em;
  }
}

.view-mode-compact_teaser {
  padding: 0.5em 0 1em;
}

.teaser-left {
  width: 68px !important;
  
  .view-mode-compact_teaser {
    padding: 0;
  }
}

.teaser-right {
  margin-left: 93px;
  width: auto !important;
  
  .views-row & {
    float: none;
  }
}