// @file
// Styles for topics.

.view--uwc-topics-cops-in-a-topic {
	padding: 0 12px;
	
	.field-content {
		font-size: 1.1em;
		font-weight: bold;
		text-transform: uppercase;
		
		a {
			@extend %hover-underline;
		}
	}
}

.node-type-guide {
	.view-uwc-experts h3,
	.field-name-field-related-guides .label-above {
		@extend %pane-gray-header-sidebar;
		font-size: 1.2em;
		margin-bottom: 0.2em;
		padding-bottom: 0;
	}
	
	.field-name-field-related-guides .field-related-guide {
		a {
			@extend %hover-underline;
			display: block;
			font-size: $font-size-md;
			padding: 2px 0;
		}
	}
}
