// @file
// Styles for vertical tabs.

.vertical-tabs {
  background: $body-color;
  clear: both;
  margin: rhythm(1) 0;
  position: relative;
}

.vertical-tabs-list {
  background: $form-bg-color;
  float: left; // LTR
  list-style: none;
  margin: 0 -100% -1px 0; // LTR
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;

  [dir="rtl"] & {
    float: right;
    margin: 0 0 -1px -100%;
  }
  
  @include breakpoint(700px, $no-query: true) {
    width: 25%;
  }
}

.vertical-tabs-list li {
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  
  @include breakpoint(700px, $no-query: true) {
    float: none;
    text-align: right;
    width: auto;
  }

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *min-width: 0;
  }
}

.vertical-tabs-list a {
  background: grayscale($uw_light_purple);
  border: 1px solid #fff;
  border-width: 1px 0; // LTR
  color: #fff;
  display: block;
  font-size: 0.9em;
  margin: 0;
  outline: 0;
  padding: 0.3em 0.5em 0.2em;
  position: relative;
  text-decoration: none;
  
  &:focus,
  &:hover {
    background: darken(grayscale($uw_light_purple), 10%);
  }
  
  @include breakpoint(700px, $no-query: true) {
    padding: 0.5em 0.6em 0.4em;
    
    &:focus,
    &:hover {
      background: grayscale($uw_light_purple);
    }
  }
  
  @include breakpoint(800px, $no-query: true) {
    font-size: inherit;
    padding: 0.6em 0.6em 0.5em;
  }
  
  &:focus:after,
  &:hover:after {

    @include breakpoint(700px, $no-query: true) {
      border: 1.2em solid transparent;
      border-left: 1em solid transparent;
      border-left-color: grayscale($uw_light_purple);
      border-top-color: transparent;
      content: "";
      display: block;
      height: 0;
      overflow: hidden;
      position: absolute;
      right: -2.15em;
      top: 0;
      width: 0;
    }
    
    @include breakpoint(800px, $no-query: true) {
      right: -2.2em;
    }
  }
}

.vertical-tabs-list .first a {
  border-top: 0;
}

.vertical-tabs-list .last a {
  border-bottom: 0;
}

.vertical-tabs-list .selected a {
  background: grayscale($uw_dark_purple);
  position: relative;
  
  &:after {
    
    @include breakpoint(700px, $no-query: true) {
      border: 1.2em solid transparent;
      border-left: 1em solid transparent;
      border-left-color: grayscale($uw_dark_purple);
      border-top-color: transparent;
      content: "";
      display: block;
      height: 0;
      overflow: hidden;
      position: absolute;
      right: -2.15em;
      top: 0;
      width: 0;
    }
    
    @include breakpoint(800px, $no-query: true) {
      right: -2.2em;
    }
  }
  
  &:after:focus
  &:after:hover {
    border: none;
  }

  [dir="rtl"] & {
    border-right: 1px solid $form-border-color;
  }
}

.vertical-tabs-list .selected strong {

}

.vertical-tabs-list .summary {
  display: block;
}

.vertical-tab-button {
  outline: 0;
}

.vertical-tabs-panes {
  background: #fff;
  clear: left;
  

  [dir="rtl"] & {
    border-width: 0 298px 0 0;
  }
  
  @include breakpoint(700px, $no-query: true) {
    clear: none;
    margin-left: 24.95%;
  }
}

.vertical-tabs-pane {
  border: 1px solid grayscale(#b1b4d0);
}

.vertical-tabs fieldset {
  display: table-cell;
  margin: 0;
  min-width: 0;
  padding: 0;
  top: 0;

  [dir="rtl"] & {

  }
}

.vertical-tabs .fieldset__content {
  margin-top: 0;
  min-height: 100%;
  padding: 20px;
  
  @include breakpoint(700px, $no-query: true) {
     padding: 20px 35px 25px 40px;
  }
}

.vertical-tabs .form-type-textfield input {
  width: 100%;
}

.vertical-tabs-pane > legend {
  display: none;
}