// @file
// Styles for exposed forms.

.views-exposed-form {
	width: 100%;
	.pane & {
		width: 100%;
		.views-exposed-widgets {
			position: relative;
			width: 100%;
			
			.views-exposed-widget {
				padding-right: 0;
				width: 100%;
				
				.form-item--textfield {
					width: 100%;
					
					input {
						border: 1px solid #e9e9e9;
						
						width: 100%;
					}
				}
				
				&.views-widget-checkboxes {
					position: absolute;
					top: 3.5em;
				}
				
				&.views-submit-button {
					.button--submit {
						@extend %submit-button;
						border: none;
						bottom: 9px;
						position: absolute;
						right: 1px;
					}
				}
				

			}
		}
	}
}