#services-sso-client-profile-flag-actions {
  @tabs_width: 300px;
  @checkbox_wrapper_width: 220px;

  [class*="form-type-checkbox"][class*="remove"] {
    display: block;
  }

  #edit-search-box-wrapper {
    float:left;
    clear:both;
    margin-top:0;
    input {
      float: left; 
    }
  }

  .tab-controls {
    width: @tabs_width;
    float: left;
    clear:left;

    .item-list {
      height: 360px;
      overflow-y: scroll;

      li {
        &:hover {
          background-color: #f7f7f7;
        }
      }
      a {
        display: block;
        font-size: 11px;
        text-transform: uppercase;
        &.active {
          font-weight: bold;
        }
      }
    }
  }

  .tab-content {
    margin-left: @tabs_width + 10px;

    .checkbox-wrapper {
      float: left;
      width: @checkbox_wrapper_width;
      clear: left;
    }

    #weight-wrapper {
        float:left;
        clear:left;
    }

    .form-type-select,
    .select-wrapper {
      margin-left: @checkbox_wrapper_width + 10px;
      min-height: 30px;

      .select-wrapper {
        margin-left: 0;
      }
    }
  }

  #edit-submit-top {
    display: block;
    float: left;
    clear: left;
  }

  #edit-submit-bottom {
    display: block;
    float: left;
    clear: left;
    margin-left: @tabs_width + 10px;
  }
}