#services-sso-client-profile-flag-actions [class*="form-type-checkbox"][class*="remove"] {
  display: block;
}
#services-sso-client-profile-flag-actions #edit-search-box-wrapper {
  float: left;
  clear: both;
  margin-top: 0;
}
#services-sso-client-profile-flag-actions #edit-search-box-wrapper input {
  float: left;
}
#services-sso-client-profile-flag-actions .tab-controls {
  width: 300px;
  float: left;
  clear: left;
}
#services-sso-client-profile-flag-actions .tab-controls .item-list {
  height: 360px;
  overflow-y: scroll;
}
#services-sso-client-profile-flag-actions .tab-controls .item-list li:hover {
  background-color: #f7f7f7;
}
#services-sso-client-profile-flag-actions .tab-controls .item-list a {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}
#services-sso-client-profile-flag-actions .tab-controls .item-list a.active {
  font-weight: bold;
}
#services-sso-client-profile-flag-actions .tab-content {
  margin-left: 310px;
}
#services-sso-client-profile-flag-actions .tab-content .checkbox-wrapper {
  float: left;
  width: 220px;
  clear: left;
}
#services-sso-client-profile-flag-actions .tab-content #weight-wrapper {
  float: left;
  clear: left;
}
#services-sso-client-profile-flag-actions .tab-content .form-type-select,
#services-sso-client-profile-flag-actions .tab-content .select-wrapper {
  margin-left: 230px;
  min-height: 30px;
}
#services-sso-client-profile-flag-actions .tab-content .form-type-select .select-wrapper,
#services-sso-client-profile-flag-actions .tab-content .select-wrapper .select-wrapper {
  margin-left: 0;
}
#services-sso-client-profile-flag-actions #edit-submit-top {
  display: block;
  float: left;
  clear: left;
}
#services-sso-client-profile-flag-actions #edit-submit-bottom {
  display: block;
  float: left;
  clear: left;
  margin-left: 310px;
}
