// @file
// Generic grid styles.

$gutter-width: 1em;
$sidebar-gutter-width: 0.4em;

.l-grid__row {
  @extend %clearfix;
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
  
  .sidebar & {
    margin-left: -$sidebar-gutter-width;
    margin-right: -$sidebar-gutter-width;
  }
}

.l-grid__column {
  float: left;
  padding: 0 $gutter-width;
  width: 100%;

  .sidebar & {
    padding: 0 $sidebar-gutter-width;
  }
}

.l-grid--cols-2 .l-grid__column {
  width: (1/2) * 100%;
}

.l-grid--cols-3 .l-grid__column {
  width: (1/3) * 100%;
}

.l-grid--cols-4 .l-grid__column {
  width: (1/4) * 100%;
}

.l-grid--cols-5 .l-grid__column {
  width: (1/5) * 100%;
}

.l-grid--cols-6 .l-grid__column {
  width: (1/6) * 100%;
}
