main {
  clear: both;
  padding: 1em 0;
  
	@include breakpoint($mobile-menu-bp, $no-query: true) {
		padding: 2em 0;
	}
  

}

.l-constrain {
  margin: 0 auto;
  max-width: em($max-page-width);
  padding: 0 1em;

  @if $breakpoint-no-queries {
    width: em($max-page-width);
  }
}
