// @file
// Display Suite profile layout style

.l-profile {
  @include clearfix;
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 0;
  @include breakpoint(700px, $no-query: true) {
    .l-profile__header {
      clear: both;
    }
    .l-profile__content-wrapper {
      @include clearfix;
      
      .l-profile__aside {
        @include grid-span(3,1);
      }
      .l-profile__content {
        @include grid-span(9,4);
      }
    }
    .l-profile__footer {
      clear: both;
    }
  }
}

 