/* META */
@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-Book.woff") format("woff"), url("fonts/MetaWebPro-Book.eot") format("eot"), url("fonts/MetaWebPro-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-BookIta.woff") format("woff"), url("fonts/MetaWebPro-BookIta.eot") format("eot"), url("fonts/MetaWebPro-BookIta.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-Bold.woff") format("woff"), url("fonts/MetaWebPro-Bold.eot") format("eot"), url("fonts/MetaWebPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-BoldIta.woff") format("woff"), url("fonts/MetaWebPro-BoldIta.eot") format("eot"), url("fonts/MetaWebPro-BoldIta.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Trade Gothic */
@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?#iefix");
  src: url("fonts/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?#iefix") format("eot"), url("fonts/e2fbc63c-e7b1-4828-b0b6-275131d16fd0.woff") format("woff"), url("fonts/805d9356-a4a5-46df-8390-957c803e33bc.ttf") format("truetype"), url("fonts/df0f9c50-3ce3-4b1f-8120-074ca66b83b1.svg#df0f9c50-3ce3-4b1f-8120-074ca66b83b1") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/b8a5625b-c9e8-43f5-8166-d6adcb27800b.eot?#iefix");
  src: url("fonts/b8a5625b-c9e8-43f5-8166-d6adcb27800b.eot?#iefix") format("eot"), url("fonts/02ebc07e-f343-4fb9-acc8-211360a40920.woff") format("woff"), url("fonts/cc9bf793-a67d-49e0-ae6e-f8797c34abc6.ttf") format("truetype"), url("fonts/f04cc819-a804-4457-ae2d-b8e4a45747b0.svg#f04cc819-a804-4457-ae2d-b8e4a45747b0") format("svg");
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/54d50729-2ab7-49d5-a74c-b604d41c0c59.eot?#iefix");
  src: url("fonts/54d50729-2ab7-49d5-a74c-b604d41c0c59.eot?#iefix") format("eot"), url("fonts/0212a948-10f0-4e92-ad88-f19648a92b4a.woff") format("woff"), url("fonts/5e7c3b52-1246-48a3-a019-a0492c7f9e19.ttf") format("truetype"), url("fonts/8115c2cd-df4a-4fc1-8a70-5982b7d810ab.svg#8115c2cd-df4a-4fc1-8a70-5982b7d810ab") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/da6b1bd9-b4b7-4567-93ed-fa0a9c602e0e.eot?#iefix");
  src: url("fonts/da6b1bd9-b4b7-4567-93ed-fa0a9c602e0e.eot?#iefix") format("eot"), url("fonts/0c1d41ae-61a2-4230-9b86-b6ba41e18884.woff") format("woff"), url("fonts/57fb314c-6f9b-4825-932e-fe4a2db62aa4.ttf") format("truetype"), url("fonts/a39984ef-4c91-4949-8937-873bca0dae3a.svg#a39984ef-4c91-4949-8937-873bca0dae3a") format("svg");
  font-weight: 400;
  font-style: oblique;
}

/* may be obsolete
%red-button {
	padding: 5px 17px 4px 7px;
	@include border-radius(2px);
	@include box-shadow($light_gray 1px 1px 4px);
	background: $uw_red;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal !important;

	&:after {
		content: '';
		background: url(../images/icons/red-button-white-arrow.png) right center no-repeat;
		width: 8px;
		height: 10px;
		position: absolute;
		margin: 1px 0 0 3px;
	}
}
*/
/**
 * search form dropdowns for the groups content area on the homepage
 * the search bar in the global header is similar but straucture is different which looks fine everywhere but FF
 */
/**
 * taxonomy term styles for teasers and other display modes
 */
/**
 * rate/like styles
 */
/**
 * quick links styles for the quick links on the homepage
 */
/**
 * panel pane styling
 */
/*
 * @file
 * global.base
 *
 * - normalize with small modifications for Drupal and AT: http://necolas.github.com/normalize.css/
 * - Gutter widths, see $gutter-width in _custom.scss
 * - Default container alignment.
 * - Flexible images and media declarations.
 * - Copies of the SCSS mixins for reference, which includes an improved
 *   element-invisible and focusable styles.
 */
/* =============================================================================
    HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\0000334}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\0000344}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\0000355}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\0000365}}
[hidden] {
  display: none;
}

/* =============================================================================
    Base
   ========================================================================== */
/*
 * If you are using the themes Responsive JS feature (media_queries.js) do not
 * set a font-family on the html element, use body.
 *
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\0000383}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.7;
  overflow-y: scroll;
}

/*
 * 1 . Addresses margins handled incorrectly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\0000394}}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility\9;
  /* Only IE, can mess with Android */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003110}}
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
    Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003122}}
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003132}}
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
    Typography
   ========================================================================== */
/*
 * Headings
 *
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003148}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003154}}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003160}}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003166}}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003172}}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003178}}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003187}}
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003196}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003201}}
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003209}}
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003217}}
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003227}}
p,
pre {
  margin: 0 0 1.5em;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003239}}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003249}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003261}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003267}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003273}}
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003283}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003291}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003296}}
sub {
  bottom: -0.25em;
}

/* =============================================================================
    Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003311}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003316}}
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003326}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003335}}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
    Embedded content
   ========================================================================== */
/*
 * 1. Remove border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003350}}
img {
  /* border: 0; */
  /* Drupal core already does this, uncomment if you need it */
  -ms-interpolation-mode: bicubic;
}

/*
 * Corrects overflow displayed oddly in IE9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003359}}
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
    Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003371}}
figure {
  margin: 0;
}

/* =============================================================================
    Forms
   ========================================================================== */
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003388}}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
 *    Known issue: excess padding remains in IE6
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003402}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003413}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003424}}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003432}}
textarea {
  overflow: auto;
  vertical-align: top;
}

/* =============================================================================
    Tables
   ========================================================================== */
/*
 * 1. Remove most spacing between table cells
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003445}}
table {
  border: 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: inherit;
  font: 100%;
}

/* =============================================================================
    Flexible Media and Cross browser improvements
   ========================================================================== */
/*
 * - This can cause issues in table cells where no width is set on the column,
 *   only in some versions of webkit and IE 7/8.
 * - declaring the width attribute on image elements and using max-width causes
 *   the "dissappering images" bug in IE8.
 * - Mapping services such as Google Maps may break also, see below for fixes.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003466}}
img {
  height: auto;
  -ms-interpolation-mode: bicubic;
}

/* Ethan Marcotte - http://front.ie/l8rJaA */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003476}}
img,
embed,
object,
video {
  max-width: 100%;
}

/* Disable flexiblity for IE8 and below */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003485}}
.lt-ie9 img,
.lt-ie9 object,
.lt-ie9 embed,
.lt-ie9 video {
  max-width: none;
}

/* Override max-width 100% for map displays */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003498}}
#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img,
.views_horizontal_slider img {
  max-width: none !important;
}

/* =============================================================================
    Misc helpers, Accessibility classes etc
   ========================================================================== */
/* Prevent overflowing content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003515}}
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}

/**
 * General classes for hiding content. These are all included as SASS mixins.
 * @SEE: sass/_custom.scss
 */
/**
 * Image replacement
 * Kellum Method: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
 * Additional helpers from http://html5boilerplate.com/docs/css/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003531}}
.ir {
  /* Kellum Method */
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* Remove the default border from elements like button */
  border: 0;
  /* Crush the text down to take up no space */
  font: 0/0 a;
  /* Remove any text shadows */
  text-shadow: none;
  /* Hide any residual text in Safari 4 and any mobile devices that may need it */
  color: transparent;
  /* Hide the default background color on elements like button */
  background-color: transparent;
}

/* More robust element-invisible and element-focuable classes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003551}}
.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003564}}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
}

/* Shift content offscreen, can be usefull when you reall need to do this */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003574}}
.offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* Hide content from all users */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/global\.base\.scss}line{font-family:\00003585}}
.element-hidden {
  display: none;
}
