/* META */
@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-Book.woff") format("woff"), url("fonts/MetaWebPro-Book.eot") format("eot"), url("fonts/MetaWebPro-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-BookIta.woff") format("woff"), url("fonts/MetaWebPro-BookIta.eot") format("eot"), url("fonts/MetaWebPro-BookIta.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-Bold.woff") format("woff"), url("fonts/MetaWebPro-Bold.eot") format("eot"), url("fonts/MetaWebPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-BoldIta.woff") format("woff"), url("fonts/MetaWebPro-BoldIta.eot") format("eot"), url("fonts/MetaWebPro-BoldIta.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Trade Gothic */
@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?#iefix");
  src: url("fonts/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?#iefix") format("eot"), url("fonts/e2fbc63c-e7b1-4828-b0b6-275131d16fd0.woff") format("woff"), url("fonts/805d9356-a4a5-46df-8390-957c803e33bc.ttf") format("truetype"), url("fonts/df0f9c50-3ce3-4b1f-8120-074ca66b83b1.svg#df0f9c50-3ce3-4b1f-8120-074ca66b83b1") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/b8a5625b-c9e8-43f5-8166-d6adcb27800b.eot?#iefix");
  src: url("fonts/b8a5625b-c9e8-43f5-8166-d6adcb27800b.eot?#iefix") format("eot"), url("fonts/02ebc07e-f343-4fb9-acc8-211360a40920.woff") format("woff"), url("fonts/cc9bf793-a67d-49e0-ae6e-f8797c34abc6.ttf") format("truetype"), url("fonts/f04cc819-a804-4457-ae2d-b8e4a45747b0.svg#f04cc819-a804-4457-ae2d-b8e4a45747b0") format("svg");
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/54d50729-2ab7-49d5-a74c-b604d41c0c59.eot?#iefix");
  src: url("fonts/54d50729-2ab7-49d5-a74c-b604d41c0c59.eot?#iefix") format("eot"), url("fonts/0212a948-10f0-4e92-ad88-f19648a92b4a.woff") format("woff"), url("fonts/5e7c3b52-1246-48a3-a019-a0492c7f9e19.ttf") format("truetype"), url("fonts/8115c2cd-df4a-4fc1-8a70-5982b7d810ab.svg#8115c2cd-df4a-4fc1-8a70-5982b7d810ab") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/da6b1bd9-b4b7-4567-93ed-fa0a9c602e0e.eot?#iefix");
  src: url("fonts/da6b1bd9-b4b7-4567-93ed-fa0a9c602e0e.eot?#iefix") format("eot"), url("fonts/0c1d41ae-61a2-4230-9b86-b6ba41e18884.woff") format("woff"), url("fonts/57fb314c-6f9b-4825-932e-fe4a2db62aa4.ttf") format("truetype"), url("fonts/a39984ef-4c91-4949-8937-873bca0dae3a.svg#a39984ef-4c91-4949-8937-873bca0dae3a") format("svg");
  font-weight: 400;
  font-style: oblique;
}

/* may be obsolete
%red-button {
	padding: 5px 17px 4px 7px;
	@include border-radius(2px);
	@include box-shadow($light_gray 1px 1px 4px);
	background: $uw_red;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal !important;

	&:after {
		content: '';
		background: url(../images/icons/red-button-white-arrow.png) right center no-repeat;
		width: 8px;
		height: 10px;
		position: absolute;
		margin: 1px 0 0 3px;
	}
}
*/
/**
 * search form dropdowns for the groups content area on the homepage
 * the search bar in the global header is similar but straucture is different which looks fine everywhere but FF
 */
/**
 * taxonomy term styles for teasers and other display modes
 */
/**
 * rate/like styles
 */
/**
 * quick links styles for the quick links on the homepage
 */
/**
 * panel pane styling
 */
/*
 * @file
 * Print Styles
 * This probably needs work, but it's a good starting point.
 */
/*
 * Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\0000314}}
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 11pt;
}

/*
 * Links
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\0000331}}
a {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #0000ee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\0000339}}
a[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: "(" attr(href) ")";
  font-size: 10pt;
}

/*
 * Strip background from likely candidates
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\0000374}}
div[id*="wrapper"],
[class*="title"],
[class*="inner"],
header,
footer,
#branding,
#container,
#columns,
.columns-inner,
#content-column,
.content-inner,
.region,
.region-header,
.region-content,
.article,
.article-title,
.article-content,
.comment,
.comment-title,
.comment-content,
.block,
.block-inner,
.block-title,
.block-content,
table,
table * {
  background: none !important;
}

/*
 * Hide various bits of the page
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\0000397}}
.sidebar,
#breadcrumb,
.nav,
.field-type-taxonomy-term-reference,
ul.links,
.feed-icon,
.poll .bar,
.poll .foreground,
.comment-form,
#comment-form,
.book-navigation,
.tabs,
.action-links,
.pager,
.messages,
.help {
  display: none;
}

/*
 * Ensure the display the main content region
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003105}}
#content {
  display: block !important;
}

/*
 * Layout
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003113}}
#header {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003118}}
.content-inner {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * HTML elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003132}}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003140}}
h1 {
  font-size: 14pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003145}}
h2 {
  font-size: 13pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003150}}
h3 {
  font-size: 12pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003157}}
h4,
h5,
h6 {
  font-size: 11pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003168}}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
#site-name a,
#site-slogan {
  text-decoration: none !important;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003176}}
hgroup a:link, hgroup a:visited {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003182}}
#page-title {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003192}}
pre,
code,
tt,
samp,
kbd,
var {
  font-size: 10pt;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003198}}
blockquote {
  margin: 20px;
  padding: 10px;
  font-size: 10pt;
  font-style: italic;
  background: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003207}}
hr {
  background-color: #666666;
}

/*
 * Header, Logo, Site name
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003215}}
#header {
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003220}}
#logo img {
  padding: 0 10px 0 0;
  margin: 0 !important;
  float: none !important;
}

/*
 * Images
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003230}}
img {
  float: left;
  margin: 4px 20px 10px 0;
  page-break-inside: avoid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003237}}
a img {
  border: none;
}

/*
 * Tables
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003245}}
table {
  margin: 1px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003251}}
th {
  border-bottom: 1px solid #333333;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003257}}
td {
  border-bottom: 1px solid #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003263}}
th,
td {
  padding: 4px 10px 4px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003268}}
tfoot {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003273}}
caption {
  margin-bottom: 10px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003279}}
thead {
  display: table-header-group;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003284}}
tr {
  page-break-inside: avoid;
}

/*
 * Forms
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003292}}
form {
  margin-bottom: 10px;
}

/*
 * Poll module
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003302}}
.poll .text,
.poll .percent,
.poll .total {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003305}}
.poll form {
  margin-bottom: 0;
}

/*
 * Articles
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003315}}
.node,
.comment {
  margin-bottom: 20px;
  overflow: hidden;
  page-break-inside: avoid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003321}}
.submitted {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/print\.scss}line{font-family:\00003329}}
.submitted a {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
