/* META */
@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-Book.woff") format("woff"), url("fonts/MetaWebPro-Book.eot") format("eot"), url("fonts/MetaWebPro-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-BookIta.woff") format("woff"), url("fonts/MetaWebPro-BookIta.eot") format("eot"), url("fonts/MetaWebPro-BookIta.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-Bold.woff") format("woff"), url("fonts/MetaWebPro-Bold.eot") format("eot"), url("fonts/MetaWebPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Meta";
  src: url("fonts/MetaWebPro-BoldIta.woff") format("woff"), url("fonts/MetaWebPro-BoldIta.eot") format("eot"), url("fonts/MetaWebPro-BoldIta.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Trade Gothic */
@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?#iefix");
  src: url("fonts/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?#iefix") format("eot"), url("fonts/e2fbc63c-e7b1-4828-b0b6-275131d16fd0.woff") format("woff"), url("fonts/805d9356-a4a5-46df-8390-957c803e33bc.ttf") format("truetype"), url("fonts/df0f9c50-3ce3-4b1f-8120-074ca66b83b1.svg#df0f9c50-3ce3-4b1f-8120-074ca66b83b1") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/b8a5625b-c9e8-43f5-8166-d6adcb27800b.eot?#iefix");
  src: url("fonts/b8a5625b-c9e8-43f5-8166-d6adcb27800b.eot?#iefix") format("eot"), url("fonts/02ebc07e-f343-4fb9-acc8-211360a40920.woff") format("woff"), url("fonts/cc9bf793-a67d-49e0-ae6e-f8797c34abc6.ttf") format("truetype"), url("fonts/f04cc819-a804-4457-ae2d-b8e4a45747b0.svg#f04cc819-a804-4457-ae2d-b8e4a45747b0") format("svg");
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/54d50729-2ab7-49d5-a74c-b604d41c0c59.eot?#iefix");
  src: url("fonts/54d50729-2ab7-49d5-a74c-b604d41c0c59.eot?#iefix") format("eot"), url("fonts/0212a948-10f0-4e92-ad88-f19648a92b4a.woff") format("woff"), url("fonts/5e7c3b52-1246-48a3-a019-a0492c7f9e19.ttf") format("truetype"), url("fonts/8115c2cd-df4a-4fc1-8a70-5982b7d810ab.svg#8115c2cd-df4a-4fc1-8a70-5982b7d810ab") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/da6b1bd9-b4b7-4567-93ed-fa0a9c602e0e.eot?#iefix");
  src: url("fonts/da6b1bd9-b4b7-4567-93ed-fa0a9c602e0e.eot?#iefix") format("eot"), url("fonts/0c1d41ae-61a2-4230-9b86-b6ba41e18884.woff") format("woff"), url("fonts/57fb314c-6f9b-4825-932e-fe4a2db62aa4.ttf") format("truetype"), url("fonts/a39984ef-4c91-4949-8937-873bca0dae3a.svg#a39984ef-4c91-4949-8937-873bca0dae3a") format("svg");
  font-weight: 400;
  font-style: oblique;
}

/* may be obsolete
%red-button {
	padding: 5px 17px 4px 7px;
	@include border-radius(2px);
	@include box-shadow($light_gray 1px 1px 4px);
	background: $uw_red;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal !important;

	&:after {
		content: '';
		background: url(../images/icons/red-button-white-arrow.png) right center no-repeat;
		width: 8px;
		height: 10px;
		position: absolute;
		margin: 1px 0 0 3px;
	}
}
*/
/**
 * search form dropdowns for the groups content area on the homepage
 * the search bar in the global header is similar but straucture is different which looks fine everywhere but FF
 */
/**
 * taxonomy term styles for teasers and other display modes
 */
/**
 * rate/like styles
 */
/**
 * quick links styles for the quick links on the homepage
 */
/**
 * panel pane styling
 */
/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000338}}
  body.toolbar {
    padding-top: 0 !important;
  }

  /*
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   *
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000354}}
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000359}}
  .commons-bw-create-all-widget-types {
    left: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000363}}
  .page-node-add #edit-additional-settings {
    width: 100%;
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000368}}
  .page-node-add .field-type-taxonomy-term-reference-form {
    width: 100%;
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000374}}
  #toolbar {
    position: static;
    margin: 0;
    padding: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000380}}
  #toolbar-user {
    position: absolute;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000389}}
  div#panels-ipe-control-container {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\0000395}}
  #quicktabs-container-commons_bw .quicktabs-tabpage .view-filters,
  #quicktabs-container-commons_bw .quicktabs-tabpage .attachment-before {
    float: none;
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003104}}
  #quicktabs-commons_follow_ui .quicktabs-style-commons-tabs li {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003114}}
  .view-commons-follow-node .views-field-ops,
  .view-commons-follow-node .views-field-ops-1,
  .view-commons-follow-user .views-field-ops,
  .view-commons-follow-user .views-field-ops-1,
  .view-commons-follow-taxonomy-term .views-field-ops,
  .view-commons-follow-taxonomy-term .views-field-ops-1 {
    width: 33.333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003120}}
  .primary-fields,
  .supplementary-fields {
    display: block;
    float: none;
    width: auto;
    padding: 0;
  }
}
/*
 * Tablet sizes and down
 */
@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003137}}
  .quicktabs-style-commons-pills ul.quicktabs-tabs li a {
    font: 0/30px a;
    color: transparent;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003146}}
  .quicktabs-style-commons-pills ul.quicktabs-tabs li a:before {
    margin-right: 0;
    vertical-align: middle;
  }
}
/*
 * Tablet sizes and up
 */
@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003162}}
  body.front.not-logged-in #content {
    background: url('../images/commons-drop.png?1378937341') right top no-repeat;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003166}}
  body.front.not-logged-in .region-three-33-top {
    margin-bottom: 24px;
    min-height: 300px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003172}}
  body.front.not-logged-in #block-system-main .pane-1 {
    float: left;
    width: 56%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/uwonline\/public\/sites\/all\/themes\/commons_origins\/sass\/responsive\.custom\.scss}line{font-family:\00003176}}
  body.front.not-logged-in #block-system-main .pane-2 {
    float: right;
    width: 40%;
  }
}
