// @file
// Custom sass variables
//
// Define the custom variables for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

// Layout
$breakpoint-to-ems: true;
$max-page-width: 1200px;

// UWO color variables
$uw_darker_purple: rgb(7,2,100);
$uw_dark_purple: rgb(16,22,127);
$uw_light_purple: rgb(124,129,184);
$uw_lighter_purple: rgb(156,161,219);
$uw_pale_purple: #ececf4;
$uw_red: rgb(255,36,8);
$uw_dark_red: rgb(200,23,0);
$uw_gray: rgb(80,80,80);
$uw_light_gray: rgb(150,150,150);
$uw_lighter_gray: rgb(243,243,243);
$uw_orange: rgb(255, 150, 0);
$uw_dark_orange: rgb(252, 177, 46);

// Colors
$primary-text-color: #333;
$secondary-text-color: #555;
$heading-text-color: $uw_dark_purple;
$body-color: #fff;
$link-color: lighten($uw_dark_purple, 10%);
$link-hover-color: $uw_darker_purple;
$selection-background: blue;
$selection-foreground: #fff;
$status-color: #4d8e4d;
$warning-color: $uw_orange;
$error-color: $uw_dark_red;
$pillbox-bg-color: #f9f9f9;
$pillbox-text-color: #333;
$pipeline-border-color: #ccc;
$border-color: #ccc;
$gradient-light: rgba(255, 255, 255, 0.2);
$gradient-dark: rgba(0, 0, 0, 0.2);



// Typography
$base-font-family: "Meta", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: "Trade Gothic";
$subheader-font-family: "Meta";
$monospace-font-family: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
$base-font-size: 16px;
$base-line-height: 21px;
$font-size-xxl: 26px;
$font-size-xl: 22px;
$font-size-lg: 19px;
$font-size-normal: $base-font-size;
$font-size-md: 15px;
$font-size-sm: 14px;
$font-size-xs: 12px;

// Forms
$form-bg-color: #eee; // Used for fieldsets and vertical-tabs.
$form-border-color: #ccc;
$form-text-size: $font-size-normal;

// Buttons
$button-bg-color: #74b633;
$button-text-color: #fff;
$button-font-family: $base-font-family;

// Mobile Menu
$mobile-menu-bp: 800px;
$mobile-menu-bg-color: rgba(0, 0, 0, 0.9);
$mobile-menu-bg-color-fallback: #111;
$mobile-menu-border-color: #666;
$mobile-menu-text-color: #eee;
$mobile-menu-link-color: #37b;
$mobile-menu-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$mobile-submenu-bg-color: #eee;
$mobile-submenu-border-color: #ccc;
$mobile-submenu-text-color: #333;
$mobile-submenu-link-color: #ddd;

// Polyfill for box-sizing in IE7 and below. The url must be root relative to
// the location of the htc script.
$box-sizing-polyfill-path: '/sites/all/themes/f1ux/polyfills/boxsizing.htc';
