/* line 65, ../../../../../../../../home/vagrant/.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
.l-panels-one-column:after, .l-panels-one-column .l-preface:after,
.l-panels-one-column .l-main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../../sass/partials/layout/panels/_one-column.scss */
.l-panels-one-column .l-preface,
.l-panels-one-column .l-main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
