/* line 65, ../../../../../../../../home/vagrant/.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
.l-panels-sidebar-right .l-preface:after,
.l-panels-sidebar-right .l-main:after,
.l-panels-sidebar-right .l-sidebar:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 43.75em) {
  /* line 13, ../../sass/partials/layout/panels/_sidebar-right.scss */
  .l-panels-sidebar-right.main.sidebar .l-sidebar {
    width: 30.43478%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 16, ../../sass/partials/layout/panels/_sidebar-right.scss */
  .l-panels-sidebar-right.main.sidebar .l-main {
    width: 65.21739%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}

/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-sidebar-right:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-sidebar-right:after {
  clear: both;
}
/* line 27, ../../sass/partials/layout/panels/_sidebar-right.scss */
.l-panels-sidebar-right .l-preface,
.l-panels-sidebar-right .l-main,
.l-panels-sidebar-right .l-sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
