@media (min-width: 43.75em) {
  /* line 13, ../../sass/partials/layout/panels/_sidebar.scss */
  .l-panels-sidebar.main.sidebar .l-main {
    width: 73.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 16, ../../sass/partials/layout/panels/_sidebar.scss */
  .l-panels-sidebar.main.sidebar .l-sidebar {
    width: 20%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-sidebar:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-sidebar:after {
  clear: both;
}
/* line 27, ../../sass/partials/layout/panels/_sidebar.scss */
.l-panels-sidebar .l-preface,
.l-panels-sidebar .l-main,
.l-panels-sidebar .l-sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-sidebar .l-preface:after,
.l-panels-sidebar .l-main:after,
.l-panels-sidebar .l-sidebar:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-sidebar .l-preface:after,
.l-panels-sidebar .l-main:after,
.l-panels-sidebar .l-sidebar:after {
  clear: both;
}
