@media (min-width: 43.75em) {
  /* line 13, ../../sass/partials/layout/panels/_uw-profile.scss */
  .l-panels-uw-profile.main.sidebar .l-sidebar {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 17, ../../sass/partials/layout/panels/_uw-profile.scss */
  .l-panels-uw-profile.main.sidebar .l-main {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 20, ../../sass/partials/layout/panels/_uw-profile.scss */
  .l-panels-uw-profile.main.sidebar .l-postscript {
    clear: both;
  }
}

/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-uw-profile:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-uw-profile:after {
  clear: both;
}
/* line 32, ../../sass/partials/layout/panels/_uw-profile.scss */
.l-panels-uw-profile .l-preface,
.l-panels-uw-profile .l-main,
.l-panels-uw-profile .l-sidebar,
.l-panels-uw-profile .l-postscript {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
}
/* line 9, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-uw-profile .l-preface:after,
.l-panels-uw-profile .l-main:after,
.l-panels-uw-profile .l-sidebar:after,
.l-panels-uw-profile .l-postscript:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/mixins/_clearfix.scss */
.l-panels-uw-profile .l-preface:after,
.l-panels-uw-profile .l-main:after,
.l-panels-uw-profile .l-sidebar:after,
.l-panels-uw-profile .l-postscript:after {
  clear: both;
}
