// @file
// Styles for footer.

/*
body {
	border-bottom: 60px solid #10167f;
}
*/

footer.footer {
	background: $uw_dark_purple;
	padding: 20px 0;
	
	.content ul.nav {
		margin: 20px auto;
		text-align: center;
		
		li {
			border-right: 1px solid #fff;
			display: inline-block;
			font-size: 0.7em;
			line-height: 1.2em;
			padding: 0 6px 0 3px;
			
			&.nav__item--last {
				border: none;
			}
			
			a {
				color: #fff;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}