// @file
// Styles for header.

.region-header {
	min-height: 100px;
	position: relative;
	z-index: 5;

	@include breakpoint($mobile-menu-bp, $no-query: true) {
		background: url(../images/bg/watermark.png)  bottom right no-repeat;
		min-height: 150px;
	}
}

.logo {
	left: 1em;
	position: absolute;
	top: 20px;

	@include breakpoint($mobile-menu-bp, $no-query: true) {
		top: 40px;
	}

	a {
    &:link,
    &:visited,
		&:hover,
    &:focus,
		&:active {
			display: block;
      text-decoration: none;
    }
  }
}

.site-name {
	left: 180px;
	position: absolute;
	top: 20px;
	vertical-align: middle;

	@include breakpoint($mobile-menu-bp, $no-query: true) {
		top: 42px;
	}
	
  a {
		display: block;
		margin: 0;
		text-decoration: none;
		white-space: nowrap;

		h1 {
			display: block;
			font-size: 1.7em;
			line-height: 60px;
			margin: 0;
			text-transform: uppercase;
			white-space: nowrap;

			@include breakpoint(450px, $no-query: true) {
				font-size: 2.2em;
			}

			@include breakpoint(900px, $no-query: true) {
				font-size: 2.5em;
			}
    }
  }
}

.block--uwc-search {
	@extend %search-bar;
}

.lt-ie9 .search--mobile form .form-item--search-type select,
.lt-ie9 .block--uwc-search form .form-item--search-type select { width: auto; }
