// @file
// Styles for misc.

%hover-underline {
	text-decoration: none;
	
	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

%featured {
	background: #fff4e5;
}

%pane-list {
	margin: 1em 0 0;
	padding: 0 0 0 0.5em;
	 
	li,
	li.leaf {
		font-size: $font-size-md;
		list-style: none;
		
		a {
			text-decoration: none;
			
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}
}