// @file
// Styles for node actions.


/**
 * follow styles
	*/
%follow-button {
	display: inline-block;
	height: 25px;
	vertical-align: top;
	
	[class*="flag-commons-follow-"] {
		display: inline-block;
		
		.flag-action,
		.unflag-action {
			background: #fa762f url(../images/icons/icon-follow-uwo.png) 7px center no-repeat;
			border: none;
			border-top: 1px solid lighten(#fa762f, 10%);
			@include border-radius(3px !important);
			@include box-shadow(#c8c8c8 1px 1px 3px);
			color: #fff;
			display: block;
			font-size: 0.8em;
			height: 25px;
			line-height: 15px;
			padding: 6px 6px 5px 24px;
			text-decoration: none;
			@include text-shadow(none);
			white-space: nowrap;
		
			@include breakpoint(875px, $no-query: true) {
				padding: 6px 8px 5px 26px;
				background-position: 8px center;
			}
				
			&:hover {
				background-color: $uw_dark_red;
			}
		}
 
		
		.flag-throbber {
			display: none;
		}
		
		.flag-message {
			display: none !important;
		}
	}
}

.follow-button {
	@extend %follow-button;
}


/**
 * rate/like styles
 */
%like-button-inner {
	background: $uw_light_purple;
	border: none;
	@include border-radius(3px);
	@include box-shadow(#c8c8c8 1px 1px 3px);
	height: 25px;
	position: relative;
	width: 62px;
	
	// @include breakpoint(875px, $no-query: true) {
	// 	width: 77px;
	// }
		
	.rate-button {
		border-top: 1px solid #a7abcf !important;
		display: block;
		font-size: 0;
		height: 20px;
		left: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		text-indent: -9999em;
		top: 0;

		&:before {
			background: url(../images/icons/icon-like-uwo.png) top right no-repeat;
			content: " ";
			display: inline-block;
			height: 18px;
			left: 11px;
			margin-bottom: -2px;
			margin-right: 10px;
			margin-top: -2px;
			position: absolute;
			top: 3px;
			width: 14px;
		}
		
		&:after {
			border: solid transparent;
			border-right-color: #646894 !important;
			border-width: 6px;
			content: " ";
			height: 0;
			margin-top: -7px;
			position: absolute;
			right: -42px;
			top: 13px;
			width: 0;
		}
		
		&.user-voted {
			&:before {
				background-position: top left;
				left: 10px;
				width: 16px;
			}
		}
	}
	
	span.rate-button {
		&:before {
			@include opacity(0.5);
		}
	}

	.rate-commons-like-count {
		background: $uw_red;
		@include border-radius(3px);
		border-top: 1px solid #fe6b5b !important;
		color: white;
		font-size: 0.8em;
		height: 25px;
		line-height: 25px;
		padding: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 26px;
		z-index: 1;
		
		// @include breakpoint(875px, $no-query: true) {
		// 	width: 35px;
		// }
		
		&:before {
			border: solid transparent;
			border-color: rgba(181,181,181,0);
			border-right-color: #fe6b5b !important;
			border-width: 6px;
			content: " ";
			height: 0;
			left: -12px;
			margin-top: -7px;
			position: absolute;
			top: 50%;
			width: 0;
			z-index: 5;
		}
		
		&:after {
			border: solid transparent;
			border-color: rgba(217,217,217,0);
			border-right-color:  $uw_red !important;
			border-width: 6px;
			content: " ";
			display:  block;
			height: 0;
			left: -11px;
			margin-top: -6px;
			position: absolute;
			top: 50%;
			width: 0;
			z-index: 6;
		}
	}
}

%like-button {
	display: inline-block;
	vertical-align: top;
	
	.rate-widget {
		@extend %like-button-inner;
	}
}

.like-button {
	@extend %like-button;
}

/**
 * comment count styles
 */
%comment-count {
	height: 25px;
	vertical-align: top;
	
	a {
		background: transparent url(../images/icons/comments-uwo.png) left center no-repeat;
		color: $uw_dark_red;
		display: block;
		font-size: 0.8em;
		font-weight: bold;
		height: 25px;
		line-height: 25px;
		padding-left: 26px;
	}
}

.comment-count {
	@extend %comment-count;
}

/* ShareThis */
.sharethis-wrapper .st_email_button {
  white-space: nowrap;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-left: 7px;

  .sharethis-buttons:hover & {
    display: block;
  }

  .stButton .st-email-counter {
    width:60px;
    height: 21px;
    margin-left: -10px;
  }
  
  .stButton {
    margin-right: 0px;
  }
}

.pane--sharethis-sharethis-block {
  margin-right: -0.5em;
}
