// @file
// Styles for search bar.

%submit-button {
	background: #fff url(../images/icons/icon-search-uwo.png) center center no-repeat;
	border: 1px solid #e9e9e9;
	border-left: none;
	@include border-radius(0px);
	height: 26px;
	padding: 0.5em 1em;
	margin: 0;
	text-indent: -9999em;
}

%search-bar {
	background: $uw_light_purple;
	display: none;
	float: right;
	height: 37px;
	margin: 15px 0 0 0;
	width: 337px;
	
	@include breakpoint($mobile-menu-bp, $no-query: true) {
		display: block;
	}
	
	@include breakpoint(900px, $no-query: true) {
		width: 377px;
	}
	
	h2.block__title {
		color: #fff;
		float: left;
		font-size: 1.1em;
		margin: 0;
		padding: 10px 0.5em 2px;
		width: 70px;
	}
	
	form {
		clear: none;
		float: right;
		padding: 0;
		width: 266px;
		
		@include breakpoint(900px, $no-query: true) {
			width: 306px;
		}

		.form-item {
			float: left;
			margin: 0;
		}
		
		.form-item--search-type {
			padding: 6px;
			width: auto;
			
			select {
				height: 26px;
				padding: 3px;
				width: 134px;
			}
		}
		
		.form-item--keyword {
			padding: 6px 0;
			width: 80px;
			
			@include breakpoint(900px, $no-query: true) {
				width: 120px;
			}
			
			input {
				border: 1px solid #e9e9e9;
				@include border-radius(0px);
				border-right: none;
				height: 26px;
			}
		}
		
		.form-actions {
			clear: none;
			float: left;
			margin: 0;
			padding: 6px 0;
			
			.button--submit {
				@extend %submit-button;
			}
		}
	}
}