// @file
// Styles for headers/titles.

%pane-header-main-col {
	color: $uw_dark_purple;
	font-size: 2.8em;
	clear: both;
	margin: 0;
	border-bottom: 1px $uw_dark_purple solid;
	text-transform: uppercase;
}

%pane-header-sidebar {
	color: $uw_dark_purple;
	font-size: 1.8em;
	font-weight: normal;
	clear: both;
	margin: 0;
	border-bottom: 1px $uw_dark_purple solid;
	text-transform: uppercase;
}

%node-title {
	@extend h1;
	font-size: 2.8em;
  font-family: $subheader-font-family;
	margin: 0;
  text-transform: capitalize;
}

%pane-gray-header-sidebar {
	@extend %pane-header-sidebar;
	
	border-bottom-color: #a5a5a5;
	color: #666;
	font-family: $subheader-font-family;
	font-size: 1.3em;
	font-weight: normal;
	margin: 0;
	padding-bottom: 0.2em;
	padding-top: 0.3em;
}

.l-sidebar  {
	h2.pane__title {
		@extend %pane-header-sidebar;
	}
}


.l-sidebar {
	.has-bg-color {
		h2.pane__title {
			@extend %pane-gray-header-sidebar;
		}
		
		&.purple-gray {
			h2.pane__title {
				color: $uw_light_purple;
			}
		}
	}
}

.l-main {
	h2.pane__title {
		@extend %pane-header-main-col;

		white-space: normal;
	}
}

.pane--node-title,
.pane--page-title {
	h1 {
		@extend %node-title;
	}
}

.pane--profile2 {
	h2.pane__title {
		@extend %node-title;
	}
}