// @file
// Panels layout: sidebar_left
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-sidebar-left {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 3;
  @include breakpoint(700px, $no-query: true) {
    &.main.sidebar {
      .l-sidebar {
        @include grid-span(3,1);
				float: left;
      }
      .l-main {
        @include grid-span(9,4);
				float: right;
      }
    }
  }
}

.l-panels-sidebar-left {
  @include clearfix;
  .l-preface,
  .l-main,
  .l-sidebar {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
			margin-bottom: 2em;
    }
  }
	
}

