// @file
// Panels layout: sidebar_right
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-sidebar-right {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 1;
  @include breakpoint(700px, $no-query: true) {
    &.main.sidebar {
      .l-sidebar {
        @include grid-span(4,9);
      }
      .l-main {
        @include grid-span(8,1);
      }
    }
  }
}

.l-panels-sidebar-right {
  @include clearfix;
  .l-preface,
  .l-main,
  .l-sidebar {
    @extend %clearfix;
		
    @if $panels-admin {
      @include border-box;
			margin-bottom: 2em;
    }
  }
}

