// @file
// Panels layout: uw_profile
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-uw-profile {
  $grids: 0;
  $grids: add-grid(12 at 700px);
  $gutters: 0;
  @include breakpoint(700px, $no-query: true) {
    &.main.sidebar {
      .l-sidebar {
        @include grid-span(3,1);
				
      }
      .l-main {
        @include grid-span(9,4);
      }
			.l-postscript {
				clear: both;
      }
    }
  }
}

.l-panels-uw-profile {
  @include clearfix;
  .l-preface,
  .l-main,
  .l-sidebar,
	.l-postscript {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
			margin-bottom: 2em;
    }
  }
}
