%divider-left {
  border-left: 1px solid darken($light_blue, 3%);
  @include box-shadow(darken($dark_blue, 13%) -1px 0px 0px);
}

%divider-right {
  border-right: 1px solid darken($dark_blue, 13%);
  @include box-shadow(darken($light_blue, 3%) 1px 0px 0px);
}

%pod {
}

%pod-content {

}

%node-space-right {
  > .node-content {
    margin-right: 10em;

    @include respond(small-medium) {
      margin-right: 0;
    }
  }
}



//
// Styles for utility nav and certain call outs
//
/* may be obsolete
%red-button {
	padding: 5px 17px 4px 7px;
	@include border-radius(2px);
	@include box-shadow($light_gray 1px 1px 4px);
	background: $uw_red;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal !important;

	&:after {
		content: '';
		background: url(../images/icons/red-button-white-arrow.png) right center no-repeat;
		width: 8px;
		height: 10px;
		position: absolute;
		margin: 1px 0 0 3px;
	}
}
*/

/**
 * search form dropdowns for the groups content area on the homepage
 * the search bar in the global header is similar but straucture is different which looks fine everywhere but FF
 */
%purple-form-item {
	border-top: 6px solid $uw_light_purple;
	border-bottom: 6px solid $uw_light_purple;
	border-left: 7px solid $uw_light_purple;
	border-right: 7px solid $uw_light_purple;
	background: white;
	padding: 2px 5px 4px;
	display: block;
	height: 20px;
	@include border-radius(0px);
}

/**
 * taxonomy term styles for teasers and other display modes
 */
%topics {
	margin: 0.8em 0;
	font-size: 0.9em;

	
	.label-inline {
		background: url(../images/bg-topics.png) top left no-repeat;
		height: 22px;
		width: 62px;
		color: $white;
		padding: 4px 0 0 14px;
		display: inline-block;
		text-transform: uppercase;
		margin-right: -5px;
		letter-spacing: -0.01em;
		line-height: 1em;
	}
	
	a {
		color: $uw_dark_purple;
		text-transform: lowercase;
		line-height: 22px;
	}

}
/**
 * rate/like styles
 */
%like-button {
	height: 25px;
	width: 77px;
	border: none;
	@include box-shadow(#c8c8c8 1px 1px 3px);
	position: relative;
	
	.rate-commons-like-btn,
	.rate-commons-like-count {
		height: 25px;
		border: none;
		position: relative;
	}
	
	.rate-commons-like-btn {
		background: $uw_light_purple;
		border-top: 1px solid #a7abcf !important;
		display: block;
		margin-top: 0;
		
		&:before {
			background: url(../images/icons/like-new.png) top left no-repeat;
			width: 14px;
			height: 16px;
			display: inline-block;
			margin-right: 10px;
			position: absolute;
			left: 17px;
			top: 4px;
		}
		
		&:after {
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-right-color: #646894 !important;
			margin-top: -6px;
			border-width: 6px;
			right: 28px;
			top: 12px;
			z-index: 1;
		}
	}
	
	
	
	.rate-commons-like-count {
		background: $uw_red;
		color: white;
		padding: 5px;
		border-top: 1px solid #fe6b5b  !important;
		position: absolute;
		right: -1px;
		top: -1px;
		height: 25px;
		width: 32px;
		@include border-radius(3px);
		
		&:before {
			border-color: rgba(181, 181, 181, 0);
			border-right-color: #fe6b5b !important;
			border-width: 6px;
			top: 50%;
			margin-top: -7px;
			left: -11px;
		}
		
		&:after {
			border-right-color: $uw_red !important;
			margin-top: -6px;
			border-width: 6px;
			left: -11px;
			
		}
	}
}

/**
 * quick links styles for the quick links on the homepage
 */
%quick-links {
	ul {
		padding-left: 0 !important;
		margin: 0;
		
		li {
			padding: 0;
			margin: 0;
			list-style-image: none;
			list-style-type: none;
			border-bottom: 1px dashed $uw_light_gray;
			
			
			&.last {
				border: none;
			}
			
			a {
				padding: 9px;
				color: $uw_gray;
				display: block;
				position: relative;
				
				&:hover,
				&:focus {
					background: $uw_light_purple;
					color: $white;
					text-decoration: none;
				}
							
				&:after {
					display: block;
					float: right;
					position: relative;
					margin-right: 0;
					width: 0;
					height: 0;
					overflow: hidden;
					border: .5em solid transparent;
					border-left: .7em solid transparent;
					border-top-color: transparent;
					border-left-color: $dark_gray;
					content: "";
					top: .4em;
					right: -0.4em;
	
				}
		
				&:hover:after {
					border-left-color: white;
				}
				
			}
			
			
		}
	}
}

/**
 * panel pane styling
 */
%gray-pane {
	background: $uw_lighter_gray;
	padding: 18px;
	
	.pane-title {
		color: $uw_gray;
		margin: 0 0 0.2em;
		padding-bottom: 0.4em;
		border-bottom: 1px solid #bbbbbb;
		font-size: 1em;
		text-transform: uppercase;
		
		span {
			color: $uw_dark_purple;
		}
	}
}