/* META */
@font-face {
	font-family: "Meta";
	src: url("fonts/MetaWebPro-Book.woff") format("woff"), url("fonts/MetaWebPro-Book.eot") format("eot"), url("fonts/MetaWebPro-Book.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Meta";
	src: url("fonts/MetaWebPro-BookIta.woff") format("woff"), url("fonts/MetaWebPro-BookIta.eot") format("eot"), url("fonts/MetaWebPro-BookIta.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Meta";
	src: url("fonts/MetaWebPro-Bold.woff") format("woff"), url("fonts/MetaWebPro-Bold.eot") format("eot"), url("fonts/MetaWebPro-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Meta";
	src: url("fonts/MetaWebPro-BoldIta.woff") format("woff"), url("fonts/MetaWebPro-BoldIta.eot") format("eot"), url("fonts/MetaWebPro-BoldIta.ttf") format("truetype");
	font-style: italic;
	font-weight: bold;
}

/* Trade Gothic */
@font-face{
	font-family:"Trade Gothic";
	src:url("fonts/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?#iefix");
	src:url("fonts/e4693908-7208-4b04-93c4-8d004c3b4e1f.eot?#iefix") format("eot"),url("fonts/e2fbc63c-e7b1-4828-b0b6-275131d16fd0.woff") format("woff"),url("fonts/805d9356-a4a5-46df-8390-957c803e33bc.ttf") format("truetype"),url("fonts/df0f9c50-3ce3-4b1f-8120-074ca66b83b1.svg#df0f9c50-3ce3-4b1f-8120-074ca66b83b1") format("svg");
	font-weight: 700;
	font-style: normal;
}
 
@font-face{
	font-family:"Trade Gothic";
	src:url("fonts/b8a5625b-c9e8-43f5-8166-d6adcb27800b.eot?#iefix");
	src:url("fonts/b8a5625b-c9e8-43f5-8166-d6adcb27800b.eot?#iefix") format("eot"),url("fonts/02ebc07e-f343-4fb9-acc8-211360a40920.woff") format("woff"),url("fonts/cc9bf793-a67d-49e0-ae6e-f8797c34abc6.ttf") format("truetype"),url("fonts/f04cc819-a804-4457-ae2d-b8e4a45747b0.svg#f04cc819-a804-4457-ae2d-b8e4a45747b0") format("svg");
	font-weight: 700;
	font-style: oblique;
}
 
@font-face{
	font-family:"Trade Gothic";
	src:url("fonts/54d50729-2ab7-49d5-a74c-b604d41c0c59.eot?#iefix");
	src:url("fonts/54d50729-2ab7-49d5-a74c-b604d41c0c59.eot?#iefix") format("eot"),url("fonts/0212a948-10f0-4e92-ad88-f19648a92b4a.woff") format("woff"),url("fonts/5e7c3b52-1246-48a3-a019-a0492c7f9e19.ttf") format("truetype"),url("fonts/8115c2cd-df4a-4fc1-8a70-5982b7d810ab.svg#8115c2cd-df4a-4fc1-8a70-5982b7d810ab") format("svg");
	font-weight: 400;
	font-style: normal;
}
 
@font-face{
	font-family:"Trade Gothic";
	src:url("fonts/da6b1bd9-b4b7-4567-93ed-fa0a9c602e0e.eot?#iefix");
	src:url("fonts/da6b1bd9-b4b7-4567-93ed-fa0a9c602e0e.eot?#iefix") format("eot"),url("fonts/0c1d41ae-61a2-4230-9b86-b6ba41e18884.woff") format("woff"),url("fonts/57fb314c-6f9b-4825-932e-fe4a2db62aa4.ttf") format("truetype"),url("fonts/a39984ef-4c91-4949-8937-873bca0dae3a.svg#a39984ef-4c91-4949-8937-873bca0dae3a") format("svg");
	font-weight: 400;
	font-style: oblique;
}
