// @file
// Styles for primary local tasks menu.

.nav--primary-local-tasks {
  @extend %nav--pillbox;
  margin-bottom: 0;
  width: 100%;
  
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    float: right;
    width: auto;
  }

  @media print {
    display: none;
  }
}