// @file
// Styles for utilty/global menu.

.region-utility .content {
	display: none;
	
	@include breakpoint($mobile-menu-bp, $no-query: true) {
		display: block;
		float: right;
		margin-top: 20px;
		position: relative;
		width: 100%;
		z-index: 10;
	}
	
	ul.nav {
		font-size: .875em;
		line-height: 1;
		list-style: none;
		margin: .2em 0;
		padding: 0;
		text-align: right;
	
		.block-content & {
			padding: 0;
		}
	
		li {
			display: inline-block;
			margin-right: 14px;
			text-transform: lowercase;
			white-space: nowrap;
			
			@include breakpoint($mobile-menu-bp, $no-query: true) {
				margin-right: 28px;
			}
	
			&.nav__item--last {
				margin-right: 0px;
			}
			
			a {
				color: #10167f;
				text-decoration: none;
			}
	
		}
	}
}