// @file
// Styles for main menus.

.region-header {
	z-index: 1000;
	
}

#block-superfish-3 {
	bottom: 0;
	clear: right;
	display: none;
	position: absolute;
	right: 0;
	
	@include breakpoint($mobile-menu-bp, $no-query: true) {
		display: block;
	}
		
	.content {	
		ul {
			left: auto !important;
			margin: 1em 0 0;
			right: 0 !important;
			
			li {
				line-height: 1.1;
				text-align: center;
				
				&.last {
					//padding-right: 0;
					
					a {
						padding-right: 1.2em;
					}
				}
				
				a {
					color: #676ca8;
					font-size: 0.8em;
					height: 40px;
					line-height: 45px;
					padding: 0 0.8em;
					text-decoration: none;
					vertical-align: bottom;
					
					@include breakpoint(1005px, $no-query: true) {
						font-size: 0.9em;
						padding: 0 1.2em;
					}
					
					@include breakpoint(1125px, $no-query: true) {
						font-size: 1em;
						padding: 0 1.5em;
					}
					
					&:hover,
					&:focus {
						background: $uw_pale_purple;
						color: $uw_dark_purple;
					}
				}
				
				&.sfHover {
					background: $uw_pale_purple;
					
					a {
						color: $uw_dark_purple;
					}
				}
				
				ul {
					background: $uw_pale_purple;
					margin: 0;
					
					li {
						text-align: left;
						padding: 0;
							
						a {
							color: $uw_dark_purple;
							height: 2em;
							line-height: 2em;
							padding: 0 1em;
							
							&:hover,
							&:focus {
								background: #fff;
							}
						}
					}
				}
			}
		}
	}
}

.region-navigation {
	background: $uw_dark_purple;
	border: none;
	@include clearfix;
	height: 45px;
	position: relative;
	white-space: nowrap;
	z-index: 3;
	
	#block-superfish-1 {
		display: inline-block;
		
		.content {
			ul {
				li {
					border-right: 1px solid #666aa9;
						
					a {
						background: $uw_dark_purple;
						color: #fff;
						font-size: 0.9em;
						height: 45px;
						line-height: 50px;
						padding: 0 0.8em;
						text-decoration: none;
						
						@include breakpoint(1005px, $no-query: true) {
							font-size: 1em;
							padding: 0 1.3em;
						}
						
						@include breakpoint(1125px, $no-query: true) {
							font-size: 1em;
							padding: 0 2em;
						}
						
					}
					
					a:hover,
					a:focus,
					&.sfHover > a {
						background: $uw_darker_purple;
					}
					
					&.last {
						border: 0;
					}
					
					ul li a {
						background: $uw_darker_purple;
						height: 2em;
						line-height: 2em;
						padding: 0 1em;
						
						&:hover,
						&:focus {
							background: darken($uw_light_purple, 20%);
						}
					}
				}
				
				&#superfish-1 > li.sf-item-1,
				&#superfish-1 > li.sf-item-2 {
					border-left: 1px solid #a7aacb;
					border-right: 1px solid #a7aacb;
					margin-right: 3px;
					
					a {
						background: $uw_light_purple;
					}
					
					a:hover,
					a:focus,
					&.sfHover > a {
						background: darken($uw_light_purple, 10%);
					}
					
					ul li a {
						background: darken($uw_light_purple, 10%);
						
						&:hover,
						&:focus {
							background: darken($uw_light_purple, 20%);
						}
					}
				}
				
				&#superfish-1 > li.sf-item-2 {
					margin-right: 0;
				}
			}
		}
	}

	.sf-menu li:hover > ul,
	.sf-menu li.sfHover > ul {
		background-image: none;
		top: 45px;

		@include breakpoint(1005px, $no-query: true) {
			min-width: 12em;
		}
		
		@include breakpoint(1125px, $no-query: true) {
			min-width: 14em;
		}

		li {
			border: none !important;
		}
	}
}

.sf-sub-indicator {
	display: none;
}
