// @file
// Styles for secondary local tasks menu.

.nav--secondary-local-tasks {
  @extend %quicktabs;
  border-top: 1px solid $uw_gray;
  clear: both;
  float: left;
  margin-bottom: 0;
  margin-top: 80px;
  width: 100%;
  
  .lt-ie9 & { margin-bottom: 40px; }
  
  li {
    
    a {
			background: grayscale(#c5c6de);
			color: grayscale($uw_darker_purple);
			
			&:focus,
			&:hover {
				background: grayscale(darken(#c5c6de, 10));
			
				&:after {
					border: .45em solid transparent;
					border-top: .6em solid transparent;
					border-top-color: grayscale(darken(#c5c6de, 10));
					border-right-color: transparent;
          top: 1.8em;
        }
      }
    }
    
    &.active,
    &.is-active {
      a {
        background: grayscale($uw_dark_purple);
        color: #fff;
        
        &:after {
          border: .45em solid transparent;
          border-top: .6em solid transparent;
          border-top-color: grayscale($uw_dark_purple);
          border-right-color: transparent;
          top: 1.85em;
          
        }
      }
    }
  }
  
  @media print {
    display: none;
  }
}
