.confirm-email-wrapper {
  .form-item-mail {
    margin-bottom: 0;
  }
  .form-item-mail-confirm {
    margin-top: 0;
  }

  div.email-confirm {
    float: right;
    margin-top: 1.5em;
    visibility: hidden;
    width: 17em;
  }
}
