.sso-bar {
  background: #000;
  color: #fff;
  padding: 8px 12px;

  &.sso-workflow-prod {
    background: darken(#B94A48, 10%);
  }

  ul.info {
    margin: 0;
    padding: 0;
  }
  li.info-block {
    float: left;
    margin-right: 10px;
    list-style-type: none;
    list-style-image: none;
  }
}

#block-services-sso-client-sso-bar {

}

#zone-user {
  margin: 0;
  width: auto;

  #region-user-first {
    margin: 0;
    width: 100%;
  }
}

