.sso-bar {
  background: #000;
  color: #fff;
  padding: 8px 12px;
}
.sso-bar.sso-workflow-prod {
  background: #953b39;
}
.sso-bar ul.info {
  margin: 0;
  padding: 0;
}
.sso-bar li.info-block {
  float: left;
  margin-right: 10px;
  list-style-type: none;
  list-style-image: none;
}
#zone-user {
  margin: 0;
  width: auto;
}
#zone-user #region-user-first {
  margin: 0;
  width: 100%;
}
